#vvveb-builder #top-panel { background:#fff; height: 60px; box-shadow: 0 1px 1px 1px rgba(18,106,211,.08); }
#vvveb-builder #top-panel .btn-light { background:#fff; height:60px; padding: 10px 20px; }

#vvveb-builder #canvas, #vvveb-builder #left-panel, #vvveb-builder #right-panel { top:60px; }
#vvveb-builder #right-panel #component-properties { padding-bottom:100px; }