.dropdown-item { color:#000 !important; }
/*.nav-item.dropdown:hover .dropdown-menu { display:block; }*/
/*.nav-item.dropdown .dropdown-menu { border-radius:0; padding:10px 20px; }*/
.bg-transparent { background:transparent !important }
.navbar-brand {  max-width: 300px !important ;max-height: 60px !important; }

.row img.card-img-top { margin:0px; }

.navbar-nav .nav-item-language a { opacity:0.5; }
.navbar-nav .nav-item-language.current a, .navbar-nav .nav-item-language:hover a { opacity:1 }