
.divider {
  display: block;
  width: 6rem;
  height: 0.3rem;
  background-color: #dfe1e5;
  margin: 2rem auto; }

.form-control-custom {
  border: 0.1rem solid #dfe1e5;
  width: 100%;
  padding: 1rem;
  font-size: .9rem;
  color: #696b6e;
  border-radius: .3rem; }

.form-control-custom:focus {
  border: 0.1rem solid #59a0d7;
  outline: none; }

.emphasis {
  font-family: Georgia, Times, 'Times New Roman';
  font-style: italic;
  color: #59a0d7; }

.constrain-width {
  max-width: 45rem;
  margin: 0 auto; }

.rounded-corners {
  border-radius: .3rem; }

.pill-btn {
  border-radius: 499rem !important; }

.justify-center {
  display: flex;
  align-items: center;
  justify-content: center; }

.alt-background {
  background: #f7f7f8; }

.bg-primary {
  background-color: <?= $settings['Main Color'] ?> !important; }

.bg-secondary {
  background-color: #46484a !important; }

.btn-primary, .btn-outline-primary, .btn-secondary, .btn-outline-secondary, .btn-white, .btn-outline-white, .btn-success, .btn-outline-success, .btn-info, .btn-outline-info, .btn-warning, .btn-outline-warning, .btn-danger, .btn-outline-danger {
  font-size: .75rem;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: .3rem; }

.btn-outline-primary, .btn-outline-secondary, .btn-outline-white, .btn-outline-success, .btn-outline-info, .btn-outline-warning, .btn-outline-danger {
  border-width: 0.15rem; }

.btn-lg {
  padding: 1.1rem 2.5rem;
  font-size: .9rem; }

.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: <?= $settings['Main Color'] ?>;
  border-color: <?= $settings['Main Color'] ?>; }

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #4089c1;
  border-color: #4089c1; }

.btn-outline-primary, .btn-outline-primary:visited {
  color: #59a0d7;
  border-color: #59a0d7;
  background: none; }

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active {
  background-color: #59a0d7;
  border-color: #59a0d7;
  color: #fff; }

.btn-secondary {
  border-color: #696b6e;
  background-color: #696b6e;
  color: #fff; }

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  border-color: #46484a;
  background-color: #46484a;
  color: #fff; }

.btn-outline-secondary, .btn-outline-secondary:visited {
  color: #696b6e;
  border-color: #696b6e;
  background: none; }

.btn-outline-secondary:hover, .btn-outline-secondary:focus, .btn-outline-secondary:active {
  border-color: #696b6e;
  background: #696b6e;
  color: #fff; }

.btn-white {
  border-color: #fff;
  background-color: #fff;
  color: #46484a; }

.btn-white:hover, .btn-white:focus, .btn-white:active {
  border-color: #dfe1e5;
  background-color: #dfe1e5;
  color: #46484a; }

.btn-outline-white, .btn-outline-white:visited {
  background: none;
  color: #fff;
  border-color: #fff; }

.btn-outline-white:hover, .btn-outline-white:focus, .btn-outline-white:active {
  color: #46484a;
  background: #fff; }

.link-white, link-white:visited {
  font-size: .75rem;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: .3rem;
  border: 0;
  color: #fff; }

.link-white:hover, .link-white:focus, .link-white:active {
  color: #dfe1e5 !important; }

.navbar-custom {
  background: transparent; }

a.navbar-brand, a.logo {
  color: #fff !important;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 0; }

a.logo:hover, a.logo:active, a.logo:focus {
  text-decoration: none; }

li.nav-item .btn {
  margin-top: .2rem;
  margin-left: .4rem; }
li.nav-item .btn-white {
  color: #46484a; }

.cover-1 {
  min-height: 50rem;
  height: auto;
  border-radius: 0;
  width: 100%;
  color: #fff;
  padding-top: 1rem; }
  .cover-1 h1 {
    font-weight: 200; }
  .cover-1 p.lead {
    margin: 2rem auto;
    color: rgba(255, 255, 255, 0.75); }
  .cover-1 .cover-container {
    display: table;
    height: 100%;
    min-height: 44rem;
    margin: 0 auto; }

.cover-2 {
  min-height: 50rem;
  height: auto;
  border-radius: 0;
  width: 100%;
  color: #fff;
  padding-top: 1rem; }
  .cover-2 p.lead {
    margin: 2rem auto;
    color: rgba(255, 255, 255, 0.75); }
  .cover-2 .cover-container {
    display: table;
    height: 100%;
    min-height: 44rem;
    margin: 0 auto; }

.cover-3 {
  min-height: 40rem;
  height: auto;
  border-radius: 0;
  width: 100%;
  color: #46484a;
  padding-top: 1rem; }
  .cover-3 a.navbar-brand {
    color: #000 !important; }
  .cover-3 h1 {
    color: #000; }
  .cover-3 p.lead {
    margin: 2rem auto;
    color: #696b6e; }
  .cover-3 .cover-container {
    display: table;
    height: 100%;
    min-height: 34rem;
    padding-top: 2rem;
    margin: 0 auto; }
  .cover-3 .col-feature {
    padding-top: 0;
    padding-bottom: 1rem;
    padding-left: 0; }
    .cover-3 .col-feature em {
      margin-bottom: 1rem;
      color: #59a0d7; }

.cover-4 {
  min-height: 50rem;
  height: auto;
  border-radius: 0;
  width: 100%;
  color: #fff;
  padding-top: 1rem; }
  .cover-4 h1 {
    font-weight: 200; }
  .cover-4 p.lead {
    margin: 2rem auto;
    color: rgba(255, 255, 255, 0.75);
    font-family: "Droid Serif", Times, Georgia, serif;
    font-style: italic; }
  .cover-4 .cover-container {
    display: table;
    height: 100%;
    min-height: 44rem;
    margin: 0 auto; }
  .cover-4 .form-control-custom {
    border: none;
    background: rgba(255, 255, 255, 0.2);
    color: #fff; }
  .cover-4 .form-control-custom:focus {
    border: none;
    background: rgba(255, 255, 255, 0.3);
    color: #fff; }

.cover-5 {
  min-height: 40rem;
  height: auto;
  border-radius: 0;
  width: 100%;
  color: #333;
  padding-top: 1rem; }
  .cover-5 a.navbar-brand {
    color: #000 !important; }
  .cover-5 h1 {
    color: #000;
    font-weight: 200; }
  .cover-5 p.lead {
    margin: 2rem auto;
    color: #696b6e;
    font-family: "Droid Serif", Times, Georgia, serif;
    font-style: italic; }
  .cover-5 .cover-container {
    display: table;
    height: 100%;
    min-height: 34rem;
    margin: 0 auto; }

@media screen and (max-width: 420px) {
  .cover-1 h1, .cover-2 h1, .cover-3 h1, .cover-4 h1, .cover-5 h1 {
    font-size: 2.5rem; }
  .cover-1 p, .cover-2 p, .cover-3 p, .cover-4 p, .cover-5 p {
    font-size: 1rem; }

  .btn-lg {
    font-size: 0.8rem !important;
    padding: 1rem 1.5rem; } }
.cover-inner {
  display: table-cell;
  vertical-align: middle; }

.features-1 {
  padding: 5rem 0; }
  .features-1 h2 {
    margin-top: 2rem; }
  .features-1 .col-feature {
    padding-top: 2rem;
    padding-bottom: 2rem; }
    .features-1 .col-feature .rounded-circle {
      margin: 0 auto;
      margin-bottom: 2rem;
      width: 6rem;
      height: 6rem;
      background: none;
      border: 0.15rem solid #dfe1e5; }

.features-2 {
  padding: 5rem 0; }
  .features-2 h2 {
    margin-top: 2rem; }
  .features-2 .col-feature {
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 2rem; }
    .features-2 .col-feature .rounded-circle {
      margin-bottom: 2rem;
      color: #59a0d7; }

.features-3 {
  padding: 5rem 0; }
  .features-3 h2 {
    margin-top: 2rem; }
  .features-3 .col-feature:first-of-type {
    margin-top: 2rem; }
  .features-3 .col-feature {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0; }
    .features-3 .col-feature em {
      margin-bottom: 1rem;
      color: #59a0d7; }

.features-4 {
  background: #2b2d34;
  padding: 5rem 0; }
  .features-4 h2 {
    margin-top: 2rem;
    color: #fff; }
  .features-4 p.lead {
    color: #a0a0a0; }
  .features-4 .col-feature {
    padding-top: 2rem;
    padding-bottom: 2rem; }
    .features-4 .col-feature h4 {
      color: #fff; }
    .features-4 .col-feature p {
      color: #a0a0a0; }
    .features-4 .col-feature .rounded-circle {
      margin: 0 auto;
      margin-bottom: 2rem;
      width: 6rem;
      height: 6rem;
      background: none;
      border: 0.15rem solid #696b6e;
      color: #fff; }

.features-5 {
  padding: 5rem 0; }
  .features-5 h2 {
    margin-top: 2rem; }
  .features-5 .col-feature {
    margin-top: 1rem; }
  .features-5 .col-feature {
    padding-top: 0rem;
    padding-bottom: 0rem; }
    .features-5 .col-feature em {
      margin-bottom: 1rem;
      color: #59a0d7; }

.cta-1 {
  background: #2b2d34;
  color: #fff;
  padding: 5rem 0; }
  .cta-1 p {
    color: rgba(255, 255, 255, 0.75); }
  .cta-1 form.subscribe {
    margin: 0 auto; }
  .cta-1 .btn {
    width: 100%; }

.cta-2 {
  color: #46484a;
  padding: 5rem 0; }
  .cta-2 p {
    color: #696b6e; }
  .cta-2 form.subscribe {
    max-width: 40rem;
    margin: 0 auto; }
  .cta-2 .btn {
    width: 100%; }

.cta-3 {
  background: #2b2d34 url(../images/cover-bg-2.jpg) center;
  background-size: cover;
  color: #fff;
  padding: 5rem 0;
  min-height: 50rem; }
  .cta-3 p {
    color: rgba(255, 255, 255, 0.75); }
  .cta-3 form.subscribe {
    max-width: 40rem;
    margin: 0 auto; }

.cta-4 {
  background: #2b2d34 url(../images/cover-bg-3.jpg) center;
  background: #2b2d34;
  background-size: cover;
  color: #fff;
  padding: 5rem 0;
  min-height: 50rem; }
  .cta-4 p {
    color: rgba(255, 255, 255, 0.75); }
  .cta-4 .form-control-custom {
    border: none;
    background: rgba(255, 255, 255, 0.2);
    color: #fff; }
  .cta-4 .form-control-custom:focus {
    border: none;
    background: rgba(255, 255, 255, 0.3);
    color: #fff; }

.cta-5 {
  color: #46484a;
  padding: 4rem 0; }
  .cta-5 p {
    color: #696b6e; }
  .cta-5 form.subscribe {
    max-width: 40rem;
    margin: 0 auto; }
  .cta-5 .btn {
    width: 100%; }

@media screen and (max-width: 420px) {
  .cta-1 h1, .cta-1 h2, .cta-2 h1, .cta-2 h2, .cta-3 h1, .cta-3 h2, .cta-4 h1, .cta-4 h2, .cta-5 h1, .cta-5 h2 {
    font-size: 2.5rem; }
  .cta-1 p, .cta-2 p, .cta-3 p, .cta-4 p, .cta-5 p {
    font-size: 1rem; }

  .btn-lg {
    font-size: 0.8rem !important;
    padding: 1rem 1.5rem; } }
.content-1, .content-2, .content-4, .content-5 {
  background: #fff;
  padding-bottom: 0.1rem; }
  .content-1 .container, .content-2 .container, .content-4 .container, .content-5 .container {
    margin: 5rem auto; }
  .content-1 .full-width, .content-2 .full-width, .content-4 .full-width, .content-5 .full-width {
    width: 100%; }

.content-3 {
  padding: 5rem 0; }
  .content-3 .col-feature:first-of-type {
    margin-top: 2rem; }
  .content-3 .col-feature {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0; }
    .content-3 .col-feature em {
      margin-bottom: 1rem;
      color: #59a0d7; }

.team-1 {
  padding: 5rem 0; }
  .team-1 h3 {
    margin-bottom: 0; }
  .team-1 .col-team {
    padding-top: 2rem;
    padding-bottom: 2rem; }
    .team-1 .col-team img {
      margin-bottom: 2rem; }

.team-2 {
  padding: 5rem 0 3rem 0; }
  .team-2 h3 {
    margin-bottom: 0; }
  .team-2 .col-team {
    padding-top: 2rem;
    padding-bottom: 2rem; }
    .team-2 .col-team img {
      margin-bottom: 2rem;
      width: 98%;
      max-width: 8rem; }

.team-3 {
  padding: 5rem 0 5rem 0; }
  .team-3 .box {
    background: #fff;
    box-shadow: 0 0.2rem 2rem rgba(0, 0, 0, 0.05);
    padding: 2rem;
    margin-bottom: 2rem; }
  .team-3 .col-team img {
    margin-top: .5rem;
    margin-bottom: 2rem;
    width: 50%; }

.team-4 {
  padding: 5rem 0; }
  .team-4 h3 {
    margin-bottom: 0; }
  .team-4 .col-team {
    padding-top: 2rem;
    padding-bottom: 2rem; }
    .team-4 .col-team img {
      margin: 0; }
    .team-4 .col-team figure {
      position: relative;
      display: inline-block;
      margin-bottom: 1.5rem; }
    .team-4 .col-team figcaption {
      border-radius: .3rem;
      display: none;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.5);
      color: #fff; }
    .team-4 .col-team figure:hover figcaption {
      display: flex;
      align-items: center;
      justify-content: center; }
    .team-4 .col-team .social li a {
      border: none !important;
      background: none !important;
      color: #fff !important;
      font-size: 1.6rem; }
    .team-4 .col-team .social li a:hover {
      color: #59a0d7 !important; }

.team-5 {
  padding: 5rem 0; }
  .team-5 h3 {
    margin-bottom: 0; }
  .team-5 h4 {
    margin-bottom: .2rem; }
  .team-5 .col-team {
    padding-top: 1rem;
    padding-bottom: 1rem; }
    .team-5 .col-team img {
      margin: 0; }

@media screen and (max-width: 768px) {
  .team-5 .col-team {
    padding-bottom: 2rem; } }
.social {
  margin: 0 auto;
  padding: 0; }

.social li {
  display: inline-block; }

.social li a {
  display: block;
  width: 2.2rem;
  height: 2.2rem;
  margin: .4rem .1rem;
  text-align: center;
  text-decoration: none;
  background: #fff;
  color: #696b6e;
  border: 0.1rem solid #dfe1e5;
  border-radius: 499rem;
  line-height: 1.5;
  font-size: 1.4rem; }

.social li a:hover {
  color: #59a0d7;
  border-color: #59a0d7; }

.gallery-1 {
  padding: 5rem 0; }
  .gallery-1 h3 {
    margin-bottom: 0; }

.cell img {
  display: block; }

.grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; }

.cell {
  width: calc(100% / 4);
  margin: .5rem;
  width: calc(25% - 1rem); }

@media screen and (max-width: 992px) {
  .cell {
    width: 33.333%;
    width: calc(33.333% - 1rem); } }
@media screen and (max-width: 768px) {
  .cell {
    width: 50%;
    width: calc(50% - 1rem); } }
.gallery-2 {
  padding: 5rem 0 0 0; }
  .gallery-2 .container-fluid {
    padding-right: 0;
    padding-left: 0; }
  .gallery-2 h3 {
    margin-bottom: 0; }
  .gallery-2 img {
    width: 100%; }
  .gallery-2 .item {
    background: #2b2d34 center;
    background-size: cover;
    min-height: 20rem; }

.gallery-3 {
  padding: 5rem 0; }
  .gallery-3 .container-fluid {
    padding-right: 0;
    padding-left: 0; }
  .gallery-3 .col-gallery {
    padding-top: 2rem;
    padding-bottom: 2rem; }
    .gallery-3 .col-gallery img {
      width: 100%; }

.gallery-4 {
  background: #f7f7f8;
  padding: 5rem 0; }
  .gallery-4 .container-fluid {
    padding-right: 0;
    padding-left: 0; }
  .gallery-4 .box {
    background: #fff;
    box-shadow: 0 0.2rem 2rem rgba(0, 0, 0, 0.05);
    padding: 0rem;
    padding-bottom: 1rem;
    margin-bottom: 0rem;
    border-radius: .3rem; }
  .gallery-4 .col-gallery {
    margin-top: 2rem;
    margin-bottom: 0rem; }
    .gallery-4 .col-gallery img {
      width: 100%;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0; }

.gallery-5 {
  padding: 5rem 0; }
  .gallery-5 .carousel-item {
    margin-bottom: 180px; }
    .gallery-5 .carousel-item img {
      width: 100%; }
    .gallery-5 .carousel-item .carousel-caption {
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
      text-align: center;
      background: none;
      height: 180px;
      bottom: -180px; }
    .gallery-5 .carousel-item h3 {
      color: #46484a; }
    .gallery-5 .carousel-item p {
      color: #696b6e;
      width: 80%;
      margin: 0 auto; }
  .gallery-5 .carousel-inner {
    overflow: scroll; }
  .gallery-5 .carousel-control-prev,
  .gallery-5 .carousel-control-next {
    margin-top: -180px; }
  .gallery-5 .carousel-indicators {
    bottom: 200px; }
  @media screen and (max-width: 768px) {
    .gallery-5 .carousel-item {
      margin-bottom: 0; }
    .gallery-5 .carousel-caption {
      display: none; }
    .gallery-5 .carousel-control-prev,
    .gallery-5 .carousel-control-next {
      margin-top: 0; }
    .gallery-5 .carousel-indicators {
      bottom: 20px; } }

.pricing-table-1, .pricing-table-2 {
  padding: 5rem 0;
  background: #f7f7f8; }
  .pricing-table-1 .col-pricing-table, .pricing-table-2 .col-pricing-table {
    background: #fff;
    padding: 0;
    padding-bottom: 2rem;
    border-radius: .3rem; }
    .pricing-table-1 .col-pricing-table .plan-header, .pricing-table-2 .col-pricing-table .plan-header {
      width: 100%;
      border-bottom: 0.1rem solid #dfe1e5;
      margin: 0;
      padding: 1.5rem .5rem; }
    .pricing-table-1 .col-pricing-table h2.plan-price, .pricing-table-2 .col-pricing-table h2.plan-price {
      color: #46484a;
      margin: 0;
      font-weight: 200; }
      .pricing-table-1 .col-pricing-table h2.plan-price small, .pricing-table-2 .col-pricing-table h2.plan-price small {
        font-weight: 200;
        font-size: 1.5rem; }
    .pricing-table-1 .col-pricing-table ul.plan-feature-list, .pricing-table-2 .col-pricing-table ul.plan-feature-list {
      list-style: none;
      padding: 1rem 2rem;
      margin-top: 1rem; }
      .pricing-table-1 .col-pricing-table ul.plan-feature-list li, .pricing-table-2 .col-pricing-table ul.plan-feature-list li {
        color: #696b6e;
        margin: .5rem 0; }
  .pricing-table-1 .col-pricing-table.bg-primary .plan-header, .pricing-table-1 .col-pricing-table.bg-secondary .plan-header, .pricing-table-1 .col-pricing-table.bg-info .plan-header, .pricing-table-1 .col-pricing-table.bg-success .plan-header, .pricing-table-1 .col-pricing-table.bg-warning .plan-header, .pricing-table-1 .col-pricing-table.bg-danger .plan-header, .pricing-table-2 .col-pricing-table.bg-primary .plan-header, .pricing-table-2 .col-pricing-table.bg-secondary .plan-header, .pricing-table-2 .col-pricing-table.bg-info .plan-header, .pricing-table-2 .col-pricing-table.bg-success .plan-header, .pricing-table-2 .col-pricing-table.bg-warning .plan-header, .pricing-table-2 .col-pricing-table.bg-danger .plan-header {
    border-bottom: 0.1rem solid rgba(255, 255, 255, 0.2); }
  .pricing-table-1 .col-pricing-table.bg-primary h4.plan-type, .pricing-table-1 .col-pricing-table.bg-secondary h4.plan-type, .pricing-table-1 .col-pricing-table.bg-info h4.plan-type, .pricing-table-1 .col-pricing-table.bg-success h4.plan-type, .pricing-table-1 .col-pricing-table.bg-warning h4.plan-type, .pricing-table-1 .col-pricing-table.bg-danger h4.plan-type, .pricing-table-2 .col-pricing-table.bg-primary h4.plan-type, .pricing-table-2 .col-pricing-table.bg-secondary h4.plan-type, .pricing-table-2 .col-pricing-table.bg-info h4.plan-type, .pricing-table-2 .col-pricing-table.bg-success h4.plan-type, .pricing-table-2 .col-pricing-table.bg-warning h4.plan-type, .pricing-table-2 .col-pricing-table.bg-danger h4.plan-type {
    color: rgba(255, 255, 255, 0.8); }
  .pricing-table-1 .col-pricing-table.bg-primary h2.plan-price, .pricing-table-1 .col-pricing-table.bg-secondary h2.plan-price, .pricing-table-1 .col-pricing-table.bg-info h2.plan-price, .pricing-table-1 .col-pricing-table.bg-success h2.plan-price, .pricing-table-1 .col-pricing-table.bg-warning h2.plan-price, .pricing-table-1 .col-pricing-table.bg-danger h2.plan-price, .pricing-table-2 .col-pricing-table.bg-primary h2.plan-price, .pricing-table-2 .col-pricing-table.bg-secondary h2.plan-price, .pricing-table-2 .col-pricing-table.bg-info h2.plan-price, .pricing-table-2 .col-pricing-table.bg-success h2.plan-price, .pricing-table-2 .col-pricing-table.bg-warning h2.plan-price, .pricing-table-2 .col-pricing-table.bg-danger h2.plan-price {
    color: #fff; }
  .pricing-table-1 .col-pricing-table.bg-primary ul.plan-feature-list li, .pricing-table-1 .col-pricing-table.bg-secondary ul.plan-feature-list li, .pricing-table-1 .col-pricing-table.bg-info ul.plan-feature-list li, .pricing-table-1 .col-pricing-table.bg-success ul.plan-feature-list li, .pricing-table-1 .col-pricing-table.bg-warning ul.plan-feature-list li, .pricing-table-1 .col-pricing-table.bg-danger ul.plan-feature-list li, .pricing-table-2 .col-pricing-table.bg-primary ul.plan-feature-list li, .pricing-table-2 .col-pricing-table.bg-secondary ul.plan-feature-list li, .pricing-table-2 .col-pricing-table.bg-info ul.plan-feature-list li, .pricing-table-2 .col-pricing-table.bg-success ul.plan-feature-list li, .pricing-table-2 .col-pricing-table.bg-warning ul.plan-feature-list li, .pricing-table-2 .col-pricing-table.bg-danger ul.plan-feature-list li {
    color: #f7f7f8; }

.pricing-table-3 {
  padding: 5rem 0 4rem 0;
  background: #f7f7f8; }
  .pricing-table-3 .col-pricing-table {
    background: #fff;
    padding: 0;
    padding-bottom: 2rem;
    border-radius: .3rem; }
    .pricing-table-3 .col-pricing-table .plan-header {
      width: 100%;
      background-color: #696b6e;
      border-radius: .3rem;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      margin: 0;
      padding: 1.4rem .5rem; }
    .pricing-table-3 .col-pricing-table h3.plan-type {
      color: #fff;
      font-weight: 300;
      font-size: 1.4rem;
      margin: 0; }
    .pricing-table-3 .col-pricing-table h2.plan-price {
      color: #46484a;
      margin: 0;
      padding: 1rem 0;
      font-weight: 200;
      width: 100%;
      border-bottom: 0.1rem solid #dfe1e5; }
      .pricing-table-3 .col-pricing-table h2.plan-price small {
        font-weight: 200;
        font-size: 1.2rem; }
    .pricing-table-3 .col-pricing-table ul.plan-feature-list {
      list-style: none;
      padding: 1rem 2rem; }
      .pricing-table-3 .col-pricing-table ul.plan-feature-list li {
        color: #696b6e;
        margin: .5rem 0; }
    .pricing-table-3 .col-pricing-table p.emphasis {
      margin: .2rem 0 0 0;
      color: rgba(255, 255, 255, 0.8); }

.pricing-table-4 {
  padding: 5rem 0 4rem 0;
  background: #f7f7f8; }
  .pricing-table-4 .col-pricing-table {
    background: #fff;
    padding: 0;
    padding-bottom: 2rem;
    border-radius: .3rem; }
    .pricing-table-4 .col-pricing-table .plan-header {
      width: 100%;
      margin: 0;
      padding: 1.4rem 0;
      border-bottom: 0.1rem solid #dfe1e5; }
    .pricing-table-4 .col-pricing-table h3.plan-type {
      font-weight: 300;
      font-size: 1.4rem;
      margin: 0; }
    .pricing-table-4 .col-pricing-table h2.plan-price {
      color: #46484a;
      margin: 0;
      padding: 1rem 0 0 0;
      font-weight: 200;
      width: 100%; }
      .pricing-table-4 .col-pricing-table h2.plan-price small {
        font-weight: 200;
        font-size: 1.2rem; }
    .pricing-table-4 .col-pricing-table ul.plan-feature-list {
      list-style: none;
      padding: 1rem 2rem; }
      .pricing-table-4 .col-pricing-table ul.plan-feature-list li {
        color: #696b6e;
        margin: .5rem 0; }
    .pricing-table-4 .col-pricing-table p.emphasis {
      margin: .2rem 0 0 0;
      color: #696b6e; }
  .pricing-table-4 .col-pricing-table.bg-primary .plan-header, .pricing-table-4 .col-pricing-table.bg-secondary .plan-header, .pricing-table-4 .col-pricing-table.bg-info .plan-header, .pricing-table-4 .col-pricing-table.bg-success .plan-header, .pricing-table-4 .col-pricing-table.bg-warning .plan-header, .pricing-table-4 .col-pricing-table.bg-danger .plan-header {
    border-bottom: 0.1rem solid rgba(255, 255, 255, 0.2); }
  .pricing-table-4 .col-pricing-table.bg-primary h3.plan-type, .pricing-table-4 .col-pricing-table.bg-secondary h3.plan-type, .pricing-table-4 .col-pricing-table.bg-info h3.plan-type, .pricing-table-4 .col-pricing-table.bg-success h3.plan-type, .pricing-table-4 .col-pricing-table.bg-warning h3.plan-type, .pricing-table-4 .col-pricing-table.bg-danger h3.plan-type {
    color: #fff; }
  .pricing-table-4 .col-pricing-table.bg-primary p.emphasis, .pricing-table-4 .col-pricing-table.bg-secondary p.emphasis, .pricing-table-4 .col-pricing-table.bg-info p.emphasis, .pricing-table-4 .col-pricing-table.bg-success p.emphasis, .pricing-table-4 .col-pricing-table.bg-warning p.emphasis, .pricing-table-4 .col-pricing-table.bg-danger p.emphasis {
    color: rgba(255, 255, 255, 0.8); }
  .pricing-table-4 .col-pricing-table.bg-primary h2.plan-price, .pricing-table-4 .col-pricing-table.bg-secondary h2.plan-price, .pricing-table-4 .col-pricing-table.bg-info h2.plan-price, .pricing-table-4 .col-pricing-table.bg-success h2.plan-price, .pricing-table-4 .col-pricing-table.bg-warning h2.plan-price, .pricing-table-4 .col-pricing-table.bg-danger h2.plan-price {
    color: #fff; }
  .pricing-table-4 .col-pricing-table.bg-primary ul.plan-feature-list li, .pricing-table-4 .col-pricing-table.bg-secondary ul.plan-feature-list li, .pricing-table-4 .col-pricing-table.bg-info ul.plan-feature-list li, .pricing-table-4 .col-pricing-table.bg-success ul.plan-feature-list li, .pricing-table-4 .col-pricing-table.bg-warning ul.plan-feature-list li, .pricing-table-4 .col-pricing-table.bg-danger ul.plan-feature-list li {
    color: #f7f7f8; }

.pricing-table-5 {
  padding: 5rem 0 4rem 0;
  background: #f7f7f8; }
  .pricing-table-5 .col-pricing-table {
    background: #fff;
    padding: 0;
    padding-bottom: 2rem;
    border-radius: .3rem; }
    .pricing-table-5 .col-pricing-table .plan-header {
      background: #46484a;
      color: #fff;
      border-radius: .3rem;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      width: 100%;
      margin: 0;
      padding: 1.2rem 0; }
    .pricing-table-5 .col-pricing-table h3.plan-type {
      font-weight: 300;
      font-size: 1.4rem;
      margin: 0; }
    .pricing-table-5 .col-pricing-table h2.plan-price {
      color: #46484a;
      font-size: 3.5rem;
      margin: 0;
      padding: 1rem 0;
      font-weight: 200;
      width: 100%; }
      .pricing-table-5 .col-pricing-table h2.plan-price small {
        font-weight: 200;
        font-size: 1.2rem; }
    .pricing-table-5 .col-pricing-table ul.plan-feature-list {
      list-style: none;
      padding: 1rem 2rem;
      margin-bottom: 0;
      border-bottom: 0.1rem solid #dfe1e5; }
      .pricing-table-5 .col-pricing-table ul.plan-feature-list li {
        color: #696b6e;
        margin: .5rem 0; }
    .pricing-table-5 .col-pricing-table p.emphasis {
      margin: .2rem 0 0 0;
      color: #696b6e; }
  .pricing-table-5 .plan-focus {
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2); }
  .pricing-table-5 .col-pricing-table.bg-primary .plan-header, .pricing-table-5 .col-pricing-table.bg-secondary .plan-header, .pricing-table-5 .col-pricing-table.bg-info .plan-header, .pricing-table-5 .col-pricing-table.bg-success .plan-header, .pricing-table-5 .col-pricing-table.bg-warning .plan-header, .pricing-table-5 .col-pricing-table.bg-danger .plan-header {
    border-bottom: 0.1rem solid rgba(255, 255, 255, 0.2); }
  .pricing-table-5 .col-pricing-table.bg-primary h3.plan-type, .pricing-table-5 .col-pricing-table.bg-secondary h3.plan-type, .pricing-table-5 .col-pricing-table.bg-info h3.plan-type, .pricing-table-5 .col-pricing-table.bg-success h3.plan-type, .pricing-table-5 .col-pricing-table.bg-warning h3.plan-type, .pricing-table-5 .col-pricing-table.bg-danger h3.plan-type {
    color: #fff; }
  .pricing-table-5 .col-pricing-table.bg-primary p.emphasis, .pricing-table-5 .col-pricing-table.bg-secondary p.emphasis, .pricing-table-5 .col-pricing-table.bg-info p.emphasis, .pricing-table-5 .col-pricing-table.bg-success p.emphasis, .pricing-table-5 .col-pricing-table.bg-warning p.emphasis, .pricing-table-5 .col-pricing-table.bg-danger p.emphasis {
    color: rgba(255, 255, 255, 0.8); }
  .pricing-table-5 .col-pricing-table.bg-primary h2.plan-price, .pricing-table-5 .col-pricing-table.bg-secondary h2.plan-price, .pricing-table-5 .col-pricing-table.bg-info h2.plan-price, .pricing-table-5 .col-pricing-table.bg-success h2.plan-price, .pricing-table-5 .col-pricing-table.bg-warning h2.plan-price, .pricing-table-5 .col-pricing-table.bg-danger h2.plan-price {
    color: #fff; }
  .pricing-table-5 .col-pricing-table.bg-primary ul.plan-feature-list li, .pricing-table-5 .col-pricing-table.bg-secondary ul.plan-feature-list li, .pricing-table-5 .col-pricing-table.bg-info ul.plan-feature-list li, .pricing-table-5 .col-pricing-table.bg-success ul.plan-feature-list li, .pricing-table-5 .col-pricing-table.bg-warning ul.plan-feature-list li, .pricing-table-5 .col-pricing-table.bg-danger ul.plan-feature-list li {
    color: #f7f7f8; }

.contact-1, .contact-2 {
  padding: 0 0 5rem 0; }
  .contact-1 .contact-details, .contact-2 .contact-details {
    padding-top: 5rem;
    padding-bottom: 1rem; }
  .contact-1 h3, .contact-2 h3 {
    margin-bottom: 0; }

#map {
  height: 400px;
  width: 100%; }

.contact-3, .contact-4 {
  padding: 5rem 0; }
  .contact-3 .contact-details, .contact-4 .contact-details {
    padding-top: 2rem;
    padding-bottom: 0rem; }

.testimonial-1 {
  padding: 5rem 0 2rem 0; }
  .testimonial-1 h3 {
    margin-bottom: 0; }
  .testimonial-1 .col-testimonial {
    padding-top: 2rem;
    padding-bottom: 2rem; }
    .testimonial-1 .col-testimonial img {
      margin-bottom: 2rem;
      width: 98%;
      max-width: 8rem; }
  .testimonial-1 .quote-text {
    font-size: 1rem;
    font-weight: 300;
    font-style: italic; }
  .testimonial-1 .quote-author {
    font-style: italic;
    font-family: "Droid Serif", Times, Georgia, serif;
    color: #46484a; }

.testimonial-2 {
  padding: 5rem 0 2rem 0; }
  .testimonial-2 h3 {
    margin-bottom: 0; }
  .testimonial-2 .col-testimonial {
    padding-top: 2rem;
    padding-bottom: 2rem; }
    .testimonial-2 .col-testimonial img {
      margin-bottom: 2rem;
      width: 100%;
      max-width: 8rem; }
  .testimonial-2 .quote-text {
    font-size: 1rem;
    font-weight: 300;
    font-style: italic; }
  .testimonial-2 .quote-author {
    font-style: italic;
    font-family: "Droid Serif", Times, Georgia, serif;
    color: #46484a; }

.testimonial-3 {
  padding: 5rem 0 4rem 0;
  background: #f7f7f8; }
  .testimonial-3 h3 {
    margin-bottom: 0; }
  .testimonial-3 .quote-text {
    font-size: 1.2rem;
    font-weight: 300;
    font-style: italic;
    color: #a0a0a0; }
  .testimonial-3 .box {
    background: #fff;
    border-radius: .3rem;
    box-shadow: 0px 0.2rem 2rem rgba(0, 0, 0, 0.05);
    padding: 2rem 2rem 1rem 2rem;
    margin-bottom: 2rem; }
  .testimonial-3 img.rounded-circle {
    width: 4rem; }
  .testimonial-3 .quote-author {
    font-style: italic;
    font-family: "Droid Serif", Times, Georgia, serif;
    color: #46484a; }

.testimonial-4 {
  padding: 8rem 0;
  background: #2b2d34 url(../images/cover-bg-3.jpg) center;
  background-size: cover; }
  .testimonial-4 .quote-text {
    font-size: 1.8rem;
    font-weight: 300;
    font-style: italic;
    color: #fff; }
  .testimonial-4 .quote-icon {
    color: rgba(255, 255, 255, 0.1); }
  .testimonial-4 .quote-author {
    font-style: italic;
    font-family: "Droid Serif", Times, Georgia, serif;
    color: rgba(255, 255, 255, 0.8); }

.testimonial-5 {
  padding: 4rem 0; }
  .testimonial-5 .quote-text {
    font-size: 1.6rem;
    font-weight: 300;
    font-style: italic;
    color: #a0a0a0; }
  .testimonial-5 .quote-icon {
    color: #a0a0a0; }
  .testimonial-5 .quote-author {
    font-style: italic;
    font-family: "Droid Serif", Times, Georgia, serif;
    color: #46484a; }

.footer-1 {
  min-height: 5rem;
  width: 100%;
  color: #46484a;
  padding-top: 2rem;
  padding-bottom: 1.5rem; }
  .footer-1 a.navbar-brand {
    color: #000 !important; }
  .footer-1 .nav-footer {
    float: left;
    padding: 0; }
    .footer-1 .nav-footer .nav-link {
      color: #696b6e; }
    .footer-1 .nav-footer .nav-link:hover {
      color: #59a0d7; }
  .footer-1 .social li a {
    background: none;
    border: none; }

.footer-2 {
  min-height: 5rem;
  width: 100%;
  color: #fff;
  padding-top: 2rem;
  padding-bottom: 1.5rem; }
  .footer-2 a.navbar-brand {
    color: #fff !important; }
  .footer-2 .nav-footer .nav-link {
    color: #dfe1e5; }
  .footer-2 .nav-footer .nav-link:hover {
    color: #59a0d7; }

.footer-3 {
  width: 100%;
  color: #46484a;
  padding-top: 1rem;
  padding-bottom: .5rem; }
  .footer-3 .container-fluid {
    padding: 0; }
  .footer-3 .divider {
    width: 100%;
    height: .1rem;
    margin: .5rem 0 1.5rem 0; }
  .footer-3 .nav-footer {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center; }
    .footer-3 .nav-footer .nav-link {
      color: #696b6e; }
    .footer-3 .nav-footer .nav-link:hover {
      color: #59a0d7; }
  .footer-3 .social li a {
    background: none;
    border: none; }

.footer-4 {
  width: 100%;
  color: #fff;
  padding-top: 4rem;
  padding-bottom: .5rem; }
  .footer-4 .container-fluid {
    padding: 0; }
  .footer-4 .divider {
    background: #46484a;
    width: 100%;
    height: .1rem;
    margin: 2rem 0 1.5rem 0; }
  .footer-4 ul.nav-footer {
    float: left !important;
    padding: 0;
    width: 100%; }
    .footer-4 ul.nav-footer li {
      display: block;
      float: left;
      margin-top: .5rem;
      width: 100%; }
    .footer-4 ul.nav-footer .nav-link {
      color: #a0a0a0;
      padding: 0; }
    .footer-4 ul.nav-footer .nav-link:hover {
      color: #59a0d7; }
  .footer-4 .copyright {
    color: #a0a0a0; }
  .footer-4 .social li a {
    background: none;
    color: #f7f7f8;
    border: none; }
  .footer-4 .social li a:hover {
    color: #59a0d7; }
  @media screen and (max-width: 768px) {
    .footer-4 .nav-footer {
      width: auto;
      display: inline; } }

.footer-5 {
  width: 100%;
  color: #46484a;
  padding-top: 4rem;
  padding-bottom: .5rem; }
  .footer-5 .container-fluid {
    padding: 0; }
  .footer-5 .divider {
    width: 100%;
    height: .1rem;
    margin: 2rem 0 1.5rem 0; }
  .footer-5 ul.nav-footer {
    float: left !important;
    padding: 0;
    width: 100%; }
    .footer-5 ul.nav-footer li {
      display: block;
      float: left;
      margin-top: .5rem;
      width: 100%; }
    .footer-5 ul.nav-footer .nav-link {
      color: #696b6e;
      padding: 0;
      width: 100%; }
    .footer-5 ul.nav-footer .nav-link:hover {
      color: #59a0d7; }
  .footer-5 .copyright {
    color: #696b6e; }
  .footer-5 .social li a {
    background: none;
    color: #696b6e;
    border: none; }
  .footer-5 .social li a:hover {
    color: #59a0d7; }
  @media screen and (max-width: 768px) {
    .footer-5 .nav-footer {
      width: auto;
      display: inline; } }

.nav-footer {
  list-style: none;
  float: right; }
  .nav-footer li {
    float: left;
    margin-top: .5rem; }

@media screen and (max-width: 768px) {
  .nav-footer {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center; } }

