<?php

include(__DIR__.'/animate.css');
include(__DIR__.'/wrapkit.css');
include(__DIR__.'/custom.css');


?>
@font-face {
  font-family: 'Lavanderia-Sturdy';
  src: 
  	url("../fonts/Lavanderia/Lavanderia-Sturdy.eot?#iefix") format("embedded-opentype"), 
  	url("../fonts/Lavanderia/Lavanderia-Sturdy.otf") format("opentype"), 
  	url("../fonts/Lavanderia/Lavanderia-Sturdy.woff") format("woff"), 
  	url("../fonts/Lavanderia/Lavanderia-Sturdy.ttf") format("truetype"), 
  	url("../fonts/Lavanderia/Lavanderia-Sturdy.svg#Lavanderia-Sturdy") format("svg");
  font-weight: normal;
  font-style: normal; 
}


.text-primary {color:<?= $settings['Main color'] ?> !important;}
.label-primary { background-color:<?= $settings['Main color'] ?> !important; }
.btn-outline-primary { border-color:<?= $settings['Main color'] ?> !important; color:<?= $settings['Main color'] ?> !important;}
.btn-outline-primary:hover { background-color:<?= $settings['Main color'] ?> !important; color:#fff !important; }
.btn-primary-gradient {  background-color:<?= $settings['Main color'] ?> !important; }

.h6-topbar, .h4-topbar, .h16-navbar .navbar, .h14-navbar { background-color:<?= $settings['Main color'] ?> !important; }
.h5-nav-bar .navbar-nav .nav-item:hover .nav-link, .h1-nav .navbar-nav .nav-item .nav-link:hover { color: <?= $settings['Main color'] ?> !important; } 
.h3-navbar .navbar .navbar-nav .nav-item.active .nav-link, .h3-navbar .navbar .navbar-nav .nav-item:hover .nav-link, .h11-nav .navbar-nav .nav-item:hover .nav-link, .h11-nav .navbar-nav .nav-item.active .nav-link { border-color:<?= $settings['Main color'] ?> !important; color:<?= $settings['Main color'] ?> !important;; }