﻿<div data-find="is-builder" data-replace="is-builder is-content-800" data-thumb="01.png">
    <div class="is-section is-section-100 is-light-text is-box">

        <div class="is-overlay">
            <div class="is-overlay-bg" style="background-image: url([%IMAGE_PATH%]sample.jpg);"></div>
            <div class="is-overlay-color"></div>
            <div class="is-overlay-content"></div>
        </div> 

        <div class="is-boxes">

            <div class="is-box-centered is-opacity-80">
                [%CONTAINER_START%]

            		    <div class="display">
                		    <h1 style="margin:0.2em 0">Lorem Ipsum is simply dummy text</h1>
            		    </div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

                [%CONTAINER_END%]
            </div>

        </div>

    </div>
</div>

<div data-thumb="01-1.png">
    <div class="fullwith-section is-section is-section-100 is-box is-box-fullwidth is-light-text">
        <div class="is-overlay">
            <div class="is-overlay-bg" style="background-image: url([%IMAGE_PATH%]sample.jpg);"></div>
            <div class="is-overlay-color"></div>
            <div class="is-overlay-content"></div>
        </div> 

        <div class="is-boxes">
            <div class="is-box-centered is-content-fullwidth">
                [%CONTAINER_START%]
                    <h1>Lorem Ipsum is simply dummy text</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                [%CONTAINER_END%]
            </div>
        </div>
    </div>
</div>

<div data-thumb="02-1.png">
    <div class="secret-section is-section is-section-100 is-box is-box-fullwidth is-transparent">
        <div class="is-boxes">
            <div class="is-box-centered is-content-fullwidth">
                [%CONTAINER_START%]
                    <h1>Lorem Ipsum is simply dummy text</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                [%CONTAINER_END%]
            </div>
        </div>
    </div>
</div>

<div data-thumb="02-2.png">
    <div class="fullwith-section is-section is-section-100 is-box is-box-fullwidth is-transparent">
        <div class="is-boxes">
            <div class="is-box-centered is-content-fullwidth">
                [%CONTAINER_START%]
                    <h1>Lorem Ipsum is simply dummy text</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                [%CONTAINER_END%]
            </div>
        </div>
    </div>
</div>

<div data-thumb="02-3.png">
    <div class="fullwith-section is-content-section is-section is-section-100 is-box is-box-fullwidth is-transparent">
        <div class="is-boxes">
            <div class="is-box-centered is-content-fullwidth">
                [%CONTAINER_START%]
                    {{ CONTENT }}
                [%CONTAINER_END%]
            </div>
        </div>
    </div>
</div>

<div data-thumb="02.png">
    <div class="is-section is-section-100 is-box">

        <div class="is-boxes">

            <div class="is-box-centered">
                [%CONTAINER_START%]
                    <h1>Lorem Ipsum is simply dummy text</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                [%CONTAINER_END%]
            </div>

        </div>
    
    </div>
</div>
       
        
<div data-find="is-builder" data-replace="is-builder is-content-640" data-thumb="03.png">
    <div class="is-section is-section-100 is-shadow-1">

        <div class="is-boxes">

            <div class="is-box-4 is-box-img is-box">
                
                <div class="is-boxes ">

                    <div class="is-overlay">
                        <div class="is-overlay-bg" style="background-image: url([%IMAGE_PATH%]sample.jpg);"></div>
                        <div class="is-overlay-color"></div>
                        <div class="is-overlay-content"></div>
                    </div> 

                </div>

            </div>

            <div class="is-box-8 is-box">

                <div class="is-boxes">

                    <div class="is-box-centered">
                        [%CONTAINER_START%]
                            <h1>Lorem Ipsum is simply dummy text of the printing industry</h1>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        [%CONTAINER_END%]
                    </div>

                </div>

            </div>

        </div>

    </div>
</div>


<div data-find="is-builder" data-replace="is-builder is-content-640" data-thumb="04.png">
    <div class="is-section is-section-100 is-shadow-1">

        <div class="is-boxes">

            <div class="is-box-8 is-box">

                <div class="is-boxes">

                    <div class="is-box-centered">
                        [%CONTAINER_START%]
                            <h1>Lorem Ipsum is simply dummy text of the printing industry</h1>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        [%CONTAINER_END%]
                    </div>

                </div>

            </div>

            <div class="is-box-4 is-box-img is-box">

                <div class="is-boxes">
                        
                    <div class="is-overlay">
                        <div class="is-overlay-bg" style="background-image: url([%IMAGE_PATH%]sample.jpg);"></div>
                        <div class="is-overlay-color"></div>
                        <div class="is-overlay-content"></div>
                    </div>

                </div>

            </div>                    

        </div>

    </div>
</div>


<!-- Two Content Container -->


<div data-find="is-builder" data-replace="is-builder is-content-500" data-find2="is-builder" data-replace2="is-builder is-content-500" data-thumb="05.png">
    <div class="is-section is-section-100 is-shadow-1">

        <div class="is-boxes">

            <div class="is-box-6 is-light-text is-box">

                <div class="is-boxes">
                        
                    <div class="is-overlay">
                        <div class="is-overlay-bg" style="background-image: url([%IMAGE_PATH%]sample.jpg);"></div>
                        <div class="is-overlay-color"></div>
                        <div class="is-overlay-content"></div>
                    </div> 

                    <div class="is-box-centered is-opacity-80">
                        [%CONTAINER_START%]

            		        <div class="display">
                		        <h1 style="margin:0.2em 0">Lorem Ipsum is dummy text</h1>
            		        </div>
                            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

                        [%CONTAINER_END%]
                    </div>

                </div>

            </div>    
                    
            <div class="is-box-6 is-box">
                        
                <div class="is-boxes">

                    <div class="is-box-centered">
                        [%CONTAINER_START%]
                            <h1>Lorem Ipsum is simply dummy text</h1>
                            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        [%CONTAINER_END%]
                    </div>

                </div>

            </div>                

        </div>

    </div>
</div>



<div data-find="is-builder" data-replace="is-builder is-content-500" data-find2="is-builder" data-replace2="is-builder is-content-500" data-thumb="06.png">
    <div class="is-section is-section-100 is-shadow-1">

        <div class="is-boxes">

            <div class="is-box-6 is-box">
                        
                <div class="is-boxes">

                    <div class="is-box-centered">
                        [%CONTAINER_START%]
                            <h1>Lorem Ipsum is simply dummy text</h1>
                            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        [%CONTAINER_END%]
                    </div>

                </div>

            </div>   

            <div class="is-box-6 is-light-text is-box">

                <div class="is-boxes">
                        
                    <div class="is-overlay">
                        <div class="is-overlay-bg" style="background-image: url([%IMAGE_PATH%]sample.jpg);"></div>
                        <div class="is-overlay-color"></div>
                        <div class="is-overlay-content"></div>
                    </div> 

                    <div class="is-box-centered is-opacity-80">
                        [%CONTAINER_START%]

            		        <div class="display">
                		        <h1 style="margin:0.2em 0">Lorem Ipsum is dummy text</h1>
            		        </div>
                            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

                        [%CONTAINER_END%]
                    </div>

                </div>

            </div>                 

        </div>

    </div>
</div>


<!-- MODULES -->


<div data-find="is-builder" data-replace="" data-thumb="07.png">
    <div class="is-section is-section-100 is-stretch is-box">
        <div>
            <div class="is-module"></div>
        </div>        
    </div>
</div>

<!--
Problem in small screen (dissapear)
.is-section .is-stretch { /* backward compatible */
    position:absolute;left:0px;top:0px;width:100%;height:100%;
}

<div data-find="is-builder" data-replace="" data-thumb="07.png">
    <div class="is-section is-section-100 is-box">
        <div class="is-stretch">
            <div class="is-module"></div>
        </div>        
    </div>
</div>
-->

<div data-find="is-builder" data-replace="" data-thumb="08.png">
    <div class="is-section is-section-100 is-box">

        <div class="is-boxes">
                            
            <div class="is-box-centered">
                [%CONTAINER_START%]
                <div class="is-module"></div>
                [%CONTAINER_END%]
            </div>

        </div>

    </div>
</div>



<div data-find="is-builder" data-replace="is-content-800" data-thumb="09.png">
    <div class="is-section is-section-100 is-shadow-1">

        <div class="is-boxes">

            <div class="is-box-4 is-box-img is-box">
                        
                <div class="is-boxes">

                    <div class="is-overlay">
                        <div class="is-overlay-bg" style="background-image: url([%IMAGE_PATH%]sample.jpg);"></div>
                        <div class="is-overlay-color"></div>
                        <div class="is-overlay-content"></div>
                    </div>

                </div>

            </div>   

            <div class="is-box-8 is-box">
                        
                <div class="is-boxes">
                            
                    <div class="is-box-centered">
                        [%CONTAINER_START%]
                        <div class="is-module"></div>
                        [%CONTAINER_END%]
                    </div>

                </div>

            </div>                 

        </div>

    </div>
</div>


<div data-find="is-builder" data-replace="is-content-800" data-thumb="10.png">
    <div class="is-section is-section-100 is-shadow-1">

        <div class="is-boxes">

            <div class="is-box-8 is-box">
                        
                <div class="is-boxes">
                            
                    <div class="is-box-centered">
                        [%CONTAINER_START%]
                        <div class="is-module"></div>
                        [%CONTAINER_END%]
                    </div>

                </div>

            </div>

            <div class="is-box-4 is-box-img is-box">
                        
                <div class="is-boxes">

                    <div class="is-overlay">
                        <div class="is-overlay-bg" style="background-image: url([%IMAGE_PATH%]sample.jpg);"></div>
                        <div class="is-overlay-color"></div>
                        <div class="is-overlay-content"></div>
                    </div>

                </div>

            </div>                    

        </div>

    </div>
</div>


<div data-find="is-builder" data-replace="is-builder is-content-640" data-find2="is-builder" data-replace2="is-content-640" data-thumb="11.png">
    <div class="is-section is-section-100 is-shadow-1">

        <div class="is-boxes">

            <div class="is-box-6 is-light-text is-box">

                <div class="is-boxes">
                        
                    <div class="is-overlay">
                        <div class="is-overlay-bg" style="background-image: url([%IMAGE_PATH%]sample.jpg);"></div>
                        <div class="is-overlay-color"></div>
                        <div class="is-overlay-content"></div>
                    </div> 

                    <div class="is-box-centered is-opacity-80">
                        [%CONTAINER_START%]

            		        <div class="display">
                		        <h1 style="margin:0.2em 0">Lorem Ipsum is dummy text</h1>
            		        </div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

                        [%CONTAINER_END%]
                    </div>

                </div>

            </div>    

            <div class="is-box-6 is-box">
                        
                <div class="is-boxes">
                            
                    <div class="is-box-centered">
                        [%CONTAINER_START%]
                        <div class="is-module"></div>
                        [%CONTAINER_END%]
                    </div>

                </div>

            </div>                 

        </div>

    </div>
</div>


<div data-find="is-builder" data-replace="is-content-640" data-find2="is-builder" data-replace2="is-builder is-content-640" data-thumb="12.png">
    <div class="is-section is-section-100 is-shadow-1">

        <div class="is-boxes"> 

            <div class="is-box-6 is-box">
                        
                <div class="is-boxes">
                            
                    <div class="is-box-centered">
                        [%CONTAINER_START%]
                        <div class="is-module"></div>
                        [%CONTAINER_END%]
                    </div>

                </div>

            </div> 

            <div class="is-box-6 is-light-text is-box">

                <div class="is-boxes">
                        
                    <div class="is-overlay">
                        <div class="is-overlay-bg" style="background-image: url([%IMAGE_PATH%]sample.jpg);"></div>
                        <div class="is-overlay-color"></div>
                        <div class="is-overlay-content"></div>
                    </div> 

                    <div class="is-box-centered is-opacity-80">
                        [%CONTAINER_START%]

            		        <div class="display">
                		        <h1 style="margin:0.2em 0">Lorem Ipsum is dummy text</h1>
            		        </div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

                        [%CONTAINER_END%]
                    </div>

                </div>

            </div>                   

        </div>

    </div>
</div>


<!-- Placeholders -->


<div data-find="is-builder" data-replace="is-builder is-content-800" data-find2="is-builder" data-replace2="is-content-500" data-thumb="13.png">
    <div class="is-section is-section-100 is-shadow-1">

        <div class="is-boxes">

            <div class="is-box-7 is-bg-light is-box">
                        
                <div class="is-boxes">

                    <div class="is-box-centered is-content-top">
                        [%CONTAINER_START%]

            		        <div class="display">
                		        <h1 style="margin:0.2em 0">Lorem Ipsum is simply dummy text of the printing industry</h1>
            		        </div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

                        [%CONTAINER_END%]
                    </div>

                </div>

            </div>    

            <div class="is-box-5 is-bg-grey is-box">
                        
                <div class="is-boxes">
                            
                    <div class="is-box-centered is-content-top">
                        [%CONTAINER_START%]
                        <div class="is-placeholder"></div>
                        [%CONTAINER_END%]
                    </div>

                </div>

            </div>                 

        </div>

    </div>
</div>


<div data-find="is-builder" data-replace="is-content-500" data-find2="is-builder" data-replace2="is-builder is-content-800" data-thumb="14.png">
    <div class="is-section is-section-100 is-shadow-1">

        <div class="is-boxes"> 

            <div class="is-box-5 is-bg-grey is-box">
                        
                <div class="is-boxes">
                            
                    <div class="is-box-centered is-content-top">
                        [%CONTAINER_START%]
                        <div class="is-placeholder"></div>
                        [%CONTAINER_END%]
                    </div>

                </div>

            </div> 

            <div class="is-box-7 is-bg-light is-box">
                        
                <div class="is-boxes">

                    <div class="is-box-centered is-content-top">
                        [%CONTAINER_START%]

            		        <div class="display">
                		        <h1 style="margin:0.2em 0">Lorem Ipsum is simply dummy text of the printing industry</h1>
            		        </div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

                        [%CONTAINER_END%]
                    </div>

                </div>

            </div>                   

        </div>

    </div>
</div>






<div data-find="is-builder" data-replace="is-builder is-content-500" data-find2="is-builder" data-replace2="is-builder is-content-500" data-find3="is-builder" data-replace3="is-builder is-content-500" data-thumb="15.png">
    <div class="is-section is-section-100 is-shadow-1">

        <div class="is-boxes">

            <div class="is-box-4 is-light-text is-box">

                <div class="is-boxes">
                        
                    <div class="is-overlay">
                        <div class="is-overlay-bg" style="background-image: url([%IMAGE_PATH%]sample.jpg);"></div>
                        <div class="is-overlay-color"></div>
                        <div class="is-overlay-content"></div>
                    </div> 

                    <div class="is-box-centered is-opacity-80 is-content-bottom">
                        [%CONTAINER_START%]
                		    <h2>Lorem Ipsum</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        [%CONTAINER_END%]
                    </div>

                </div>

            </div>   

            <div class="is-box-4 is-light-text is-box">

                <div class="is-boxes">
                        
                    <div class="is-overlay">
                        <div class="is-overlay-bg" style="background-image: url([%IMAGE_PATH%]sample.jpg);"></div>
                        <div class="is-overlay-color"></div>
                        <div class="is-overlay-content"></div>
                    </div> 

                    <div class="is-box-centered is-opacity-80 is-content-bottom">
                        [%CONTAINER_START%]
                		    <h2>Lorem Ipsum</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        [%CONTAINER_END%]
                    </div>

                </div>

            </div>
                    
            <div class="is-box-4 is-light-text is-box">

                <div class="is-boxes">
                        
                    <div class="is-overlay">
                        <div class="is-overlay-bg" style="background-image: url([%IMAGE_PATH%]sample.jpg);"></div>
                        <div class="is-overlay-color"></div>
                        <div class="is-overlay-content"></div>
                    </div> 

                    <div class="is-box-centered is-opacity-80 is-content-bottom">
                        [%CONTAINER_START%]
                		    <h2>Lorem Ipsum</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        [%CONTAINER_END%]
                    </div>

                </div>

            </div>                       

        </div>

    </div>
</div>


<div data-find="is-builder" data-replace="is-builder is-content-500" data-find2="is-builder" data-replace2="is-builder is-content-500" data-find3="is-builder" data-thumb="16.png">
    <div class="is-section is-section-100 is-shadow-1">

        <div class="is-boxes">

            <div class="is-box-6 is-light-text is-box">

                <div class="is-boxes">
                        
                    <div class="is-overlay">
                        <div class="is-overlay-bg" style="background-image: url([%IMAGE_PATH%]sample.jpg);"></div>
                        <div class="is-overlay-color"></div>
                        <div class="is-overlay-content"></div>
                    </div> 

                    <div class="is-box-centered is-opacity-80 is-content-bottom">
                        [%CONTAINER_START%]
                		    <h2>Lorem Ipsum is simply dummy text</h2>
                            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
                        [%CONTAINER_END%]
                    </div>

                </div>

            </div>   

            <div class="is-box-6 is-light-text is-box">

                <div class="is-boxes">
                        
                    <div class="is-overlay">
                        <div class="is-overlay-bg" style="background-image: url([%IMAGE_PATH%]sample.jpg);"></div>
                        <div class="is-overlay-color"></div>
                        <div class="is-overlay-content"></div>
                    </div> 

                    <div class="is-box-centered is-opacity-80 is-content-bottom">
                        [%CONTAINER_START%]
                		    <h2>Lorem Ipsum is simply dummy text</h2>
                            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
                        [%CONTAINER_END%]
                    </div>

                </div>

            </div>                 

        </div>

    </div>
</div>


<div data-find="is-builder" data-replace="is-builder is-content-1100"  data-thumb="17.png">
    <div class="is-section is-section-100 is-boxed-layout is-box">

        <div class="is-boxes">

            <div class="is-overlay">
                <div class="is-overlay-bg" style="background-image: url([%IMAGE_PATH%]sample.jpg);"></div>
                <div class="is-overlay-color"></div>
                <div class="is-overlay-content"></div>
            </div> 

            <div class="is-box-centered is-opacity-80">
                [%CONTAINER_START%]

            		    <div class="display">
                		    <h1 style="margin:0.2em 0">Lorem Ipsum is simply dummy text of the printing industry</h1>
            		    </div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

                [%CONTAINER_END%]
            </div>

        </div>

    </div>
</div>




<!-- SLIDER MODULE -->


<div data-find="is-builder" data-replace="is-builder is-content-640 is-content-left" data-thumb="24.png">
    <div class="is-section is-section-100 is-box is-align-left is-bg-grey is-light-text">

        <div class="is-overlay">
            <div class="is-overlay-content content-selectable" data-module="slider" data-module-desc="Slider" data-html="%3Cdiv%20id%3D%22{id}%22%20class%3D%22slider-on-box%22%20style%3D%22width%3A100%25%3Bheight%3A100%25%3B%22%3E%3Cdiv%20class%3D%22is-boxes%20slider-image%22%20style%3D%22background-image%3Aurl([%IMAGE_PATH%]sample.jpg)%3B%22%3E%3C%2Fdiv%3E%3Cdiv%20class%3D%22is-boxes%20slider-image%22%20style%3D%22background-image%3Aurl([%IMAGE_PATH%]sample3.jpg)%3B%22%3E%3C%2Fdiv%3E%3C%2Fdiv%3E%3Cscript%3E%0Avar%20docReady%3Dfunction(fn)%7Bvar%20stateCheck%3DsetInterval(function%20()%7Bif(document.readyState!%3D%3D%22complete%22)return%3BclearInterval(stateCheck)%3Btry%7Bfn()%7Dcatch(e)%7B%7D%7D%2C1)%3B%7D%3B%0AdocReady(function()%20%7B%0AjQuery(%22%23{id}%22).slick(%7B%0Adots%3A%20false%2Carrows%3A%20true%2Cinfinite%3A%20true%2Cspeed%3A%20500%2CcssEase%3A%20%22linear%22%2CslidesToShow%3A%201%2Cautoplay%3A%20true%2CautoplaySpeed%3A%203000%2Cfade%3A%20true%2CadaptiveHeight%3A%20true%2Cresponsive%3A%20%5B%7Bbreakpoint%3A%20480%2Csettings%3A%20%7Barrows%3A%20false%2CslidesToShow%3A%201%7D%7D%5D%0A%7D)%3B%0A%7D)%3B%0A%3C%2Fscript%3E" data-settings="%5B%7B%22auto%22%3Atrue%2C%22arrow%22%3Atrue%2C%22dots%22%3Afalse%2C%22fade%22%3Atrue%2C%22height%22%3A%22100%25%22%2C%22images%22%3A%5B%7B%22src%22%3A%20%22[%IMAGE_PATH%]sample.jpg%22%2C%20%22caption%22%3A%20%22%22%2C%20%22link%22%3A%20%22%22%2C%20%22width%22%3A%20%22550%22%2C%20%22position%22%3A%20%22bottom%20left%22%7D%2C%7B%22src%22%3A%20%22[%IMAGE_PATH%]sample3.jpg%22%2C%20%22caption%22%3A%20%22%22%2C%20%22link%22%3A%20%22%22%2C%20%22width%22%3A%20%22550%22%2C%20%22position%22%3A%20%22bottom%20left%22%7D%5D%7D%5D"></div>
        </div> 

        <div class="is-boxes">

            <div class="is-box-centered is-content-bottom is-content-bottom">
                [%CONTAINER_START%]

            		    <div class="display">
                		    <h1 style="margin:0.2em 0">Lorem Ipsum is simply dummy text</h1>
            		    </div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

                [%CONTAINER_END%]
            </div>

        </div>

    </div>
</div>




<div data-find="is-builder" data-replace="is-builder is-content-500" data-find2="is-builder" data-replace2="is-builder is-content-500" data-thumb="25.png">
    <div class="is-section is-section-100 is-shadow-1">

        <div class="is-boxes">

            <div class="is-box-6 is-box is-align-left is-bg-grey is-light-text">

                <div class="is-boxes">
                        
                    <div class="is-overlay">
                        <div class="is-overlay-content content-selectable" data-module="slider" data-module-desc="Slider" data-html="%3Cdiv%20id%3D%22{id}%22%20class%3D%22slider-on-box%22%20style%3D%22width%3A100%25%3Bheight%3A100%25%3B%22%3E%3Cdiv%20class%3D%22is-boxes%20slider-image%22%20style%3D%22background-image%3Aurl([%IMAGE_PATH%]sample.jpg)%3B%22%3E%3C%2Fdiv%3E%3Cdiv%20class%3D%22is-boxes%20slider-image%22%20style%3D%22background-image%3Aurl([%IMAGE_PATH%]sample3.jpg)%3B%22%3E%3C%2Fdiv%3E%3C%2Fdiv%3E%3Cscript%3E%0Avar%20docReady%3Dfunction(fn)%7Bvar%20stateCheck%3DsetInterval(function%20()%7Bif(document.readyState!%3D%3D%22complete%22)return%3BclearInterval(stateCheck)%3Btry%7Bfn()%7Dcatch(e)%7B%7D%7D%2C1)%3B%7D%3B%0AdocReady(function()%20%7B%0AjQuery(%22%23{id}%22).slick(%7B%0Adots%3A%20false%2Carrows%3A%20true%2Cinfinite%3A%20true%2Cspeed%3A%20500%2CcssEase%3A%20%22linear%22%2CslidesToShow%3A%201%2Cautoplay%3A%20true%2CautoplaySpeed%3A%203000%2Cfade%3A%20true%2CadaptiveHeight%3A%20true%2Cresponsive%3A%20%5B%7Bbreakpoint%3A%20480%2Csettings%3A%20%7Barrows%3A%20false%2CslidesToShow%3A%201%7D%7D%5D%0A%7D)%3B%0A%7D)%3B%0A%3C%2Fscript%3E" data-settings="%5B%7B%22auto%22%3Atrue%2C%22arrow%22%3Atrue%2C%22dots%22%3Afalse%2C%22fade%22%3Atrue%2C%22height%22%3A%22100%25%22%2C%22images%22%3A%5B%7B%22src%22%3A%20%22[%IMAGE_PATH%]sample.jpg%22%2C%20%22caption%22%3A%20%22%22%2C%20%22link%22%3A%20%22%22%2C%20%22width%22%3A%20%22450%22%2C%20%22position%22%3A%20%22bottom%20left%22%7D%2C%7B%22src%22%3A%20%22[%IMAGE_PATH%]sample3.jpg%22%2C%20%22caption%22%3A%20%22%22%2C%20%22link%22%3A%20%22%22%2C%20%22width%22%3A%20%22450%22%2C%20%22position%22%3A%20%22bottom%20left%22%7D%5D%7D%5D"></div>
                    </div> 

                    <div class="is-box-centered is-content-bottom">
                        [%CONTAINER_START%]

            		        <div class="display">
                		        <h1 style="margin:0.2em 0">Lorem Ipsum is dummy text</h1>
            		        </div>
                            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

                        [%CONTAINER_END%]
                    </div>

                </div>

            </div>    
                    
            <div class="is-box-6 is-box is-bg-light is-dark-text">
                        
                <div class="is-boxes">

                    <div class="is-box-centered">
                        [%CONTAINER_START%]
                            <h1>Lorem Ipsum is simply dummy text</h1>
                            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        [%CONTAINER_END%]
                    </div>

                </div>

            </div>                

        </div>

    </div>
</div>


<div data-find="is-builder" data-replace="is-builder is-content-500" data-find2="is-builder" data-replace2="is-builder is-content-500" data-thumb="26.png">
    <div class="is-section is-section-100 is-shadow-1">

        <div class="is-boxes">

            <div class="is-box-6 is-box is-bg-light is-dark-text">
                        
                <div class="is-boxes">

                    <div class="is-box-centered">
                        [%CONTAINER_START%]
                            <h1>Lorem Ipsum is simply dummy text</h1>
                            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        [%CONTAINER_END%]
                    </div>

                </div>

            </div>   

            <div class="is-box-6 is-box is-align-left is-bg-grey is-light-text">

                <div class="is-boxes">
                        
                    <div class="is-overlay">
                        <div class="is-overlay-content content-selectable" data-module="slider" data-module-desc="Slider" data-html="%3Cdiv%20id%3D%22{id}%22%20class%3D%22slider-on-box%22%20style%3D%22width%3A100%25%3Bheight%3A100%25%3B%22%3E%3Cdiv%20class%3D%22is-boxes%20slider-image%22%20style%3D%22background-image%3Aurl([%IMAGE_PATH%]sample.jpg)%3B%22%3E%3C%2Fdiv%3E%3Cdiv%20class%3D%22is-boxes%20slider-image%22%20style%3D%22background-image%3Aurl([%IMAGE_PATH%]sample3.jpg)%3B%22%3E%3C%2Fdiv%3E%3C%2Fdiv%3E%3Cscript%3E%0Avar%20docReady%3Dfunction(fn)%7Bvar%20stateCheck%3DsetInterval(function%20()%7Bif(document.readyState!%3D%3D%22complete%22)return%3BclearInterval(stateCheck)%3Btry%7Bfn()%7Dcatch(e)%7B%7D%7D%2C1)%3B%7D%3B%0AdocReady(function()%20%7B%0AjQuery(%22%23{id}%22).slick(%7B%0Adots%3A%20false%2Carrows%3A%20true%2Cinfinite%3A%20true%2Cspeed%3A%20500%2CcssEase%3A%20%22linear%22%2CslidesToShow%3A%201%2Cautoplay%3A%20true%2CautoplaySpeed%3A%203000%2Cfade%3A%20true%2CadaptiveHeight%3A%20true%2Cresponsive%3A%20%5B%7Bbreakpoint%3A%20480%2Csettings%3A%20%7Barrows%3A%20false%2CslidesToShow%3A%201%7D%7D%5D%0A%7D)%3B%0A%7D)%3B%0A%3C%2Fscript%3E" data-settings="%5B%7B%22auto%22%3Atrue%2C%22arrow%22%3Atrue%2C%22dots%22%3Afalse%2C%22fade%22%3Atrue%2C%22height%22%3A%22100%25%22%2C%22images%22%3A%5B%7B%22src%22%3A%20%22[%IMAGE_PATH%]sample.jpg%22%2C%20%22caption%22%3A%20%22%22%2C%20%22link%22%3A%20%22%22%2C%20%22width%22%3A%20%22450%22%2C%20%22position%22%3A%20%22bottom%20left%22%7D%2C%7B%22src%22%3A%20%22[%IMAGE_PATH%]sample3.jpg%22%2C%20%22caption%22%3A%20%22%22%2C%20%22link%22%3A%20%22%22%2C%20%22width%22%3A%20%22450%22%2C%20%22position%22%3A%20%22bottom%20left%22%7D%5D%7D%5D"></div>
                    </div> 

                    <div class="is-box-centered is-content-bottom">
                        [%CONTAINER_START%]

            		        <div class="display">
                		        <h1 style="margin:0.2em 0">Lorem Ipsum is dummy text</h1>
            		        </div>
                            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

                        [%CONTAINER_END%]
                    </div>

                </div>

            </div>                 

        </div>

    </div>
</div>

<div data-find="is-builder" data-replace="is-builder is-content-640 is-content-left" data-thumb="27.png">
    <div class="is-section is-section-100 is-box is-align-left is-bg-grey is-light-text">

        <div class="is-overlay">
            <div class="is-overlay-content content-selectable" data-module="slider" data-module-desc="Slider" data-html="%3Cdiv%20id%3D%22{id}%22%20class%3D%22slider-on-box%22%20style%3D%22width%3A100%25%3Bheight%3A100%25%3B%22%3E%3Cdiv%20class%3D%22is-boxes%20slider-image%22%20style%3D%22background-image%3Aurl([%IMAGE_PATH%]sample.jpg)%3B%22%3E%3C%2Fdiv%3E%3Cdiv%20class%3D%22is-boxes%20slider-image%22%20style%3D%22background-image%3Aurl([%IMAGE_PATH%]sample3.jpg)%3B%22%3E%3C%2Fdiv%3E%3C%2Fdiv%3E%3Cscript%3E%0Avar%20docReady%3Dfunction(fn)%7Bvar%20stateCheck%3DsetInterval(function%20()%7Bif(document.readyState!%3D%3D%22complete%22)return%3BclearInterval(stateCheck)%3Btry%7Bfn()%7Dcatch(e)%7B%7D%7D%2C1)%3B%7D%3B%0AdocReady(function()%20%7B%0AjQuery(%22%23{id}%22).slick(%7B%0Adots%3A%20false%2Carrows%3A%20true%2Cinfinite%3A%20true%2Cspeed%3A%20500%2CcssEase%3A%20%22linear%22%2CslidesToShow%3A%201%2Cautoplay%3A%20true%2CautoplaySpeed%3A%203000%2Cfade%3A%20true%2CadaptiveHeight%3A%20true%2Cresponsive%3A%20%5B%7Bbreakpoint%3A%20480%2Csettings%3A%20%7Barrows%3A%20false%2CslidesToShow%3A%201%7D%7D%5D%0A%7D)%3B%0A%7D)%3B%0A%3C%2Fscript%3E" data-settings="%5B%7B%22auto%22%3Atrue%2C%22arrow%22%3Atrue%2C%22dots%22%3Afalse%2C%22fade%22%3Atrue%2C%22height%22%3A%22100%25%22%2C%22images%22%3A%5B%7B%22src%22%3A%20%22[%IMAGE_PATH%]sample.jpg%22%2C%20%22caption%22%3A%20%22%22%2C%20%22link%22%3A%20%22%22%2C%20%22width%22%3A%20%22550%22%2C%20%22position%22%3A%20%22bottom%20left%22%7D%2C%7B%22src%22%3A%20%22[%IMAGE_PATH%]sample3.jpg%22%2C%20%22caption%22%3A%20%22%22%2C%20%22link%22%3A%20%22%22%2C%20%22width%22%3A%20%22550%22%2C%20%22position%22%3A%20%22bottom%20left%22%7D%5D%7D%5D"></div>
        </div> 

    </div>
</div>

<div data-find="is-builder" data-replace="is-builder is-content-500" data-thumb="28.png">
    <div class="is-section is-section-100 is-shadow-1">

        <div class="is-boxes">

            <div class="is-box-6 is-box is-align-left is-bg-grey is-light-text">

                <div class="is-boxes">
                        
                    <div class="is-overlay">
                        <div class="is-overlay-content content-selectable" data-module="slider" data-module-desc="Slider" data-html="%3Cdiv%20id%3D%22{id}%22%20class%3D%22slider-on-box%22%20style%3D%22width%3A100%25%3Bheight%3A100%25%3B%22%3E%3Cdiv%20class%3D%22is-boxes%20slider-image%22%20style%3D%22background-image%3Aurl([%IMAGE_PATH%]sample.jpg)%3B%22%3E%3C%2Fdiv%3E%3Cdiv%20class%3D%22is-boxes%20slider-image%22%20style%3D%22background-image%3Aurl([%IMAGE_PATH%]sample3.jpg)%3B%22%3E%3C%2Fdiv%3E%3C%2Fdiv%3E%3Cscript%3E%0Avar%20docReady%3Dfunction(fn)%7Bvar%20stateCheck%3DsetInterval(function%20()%7Bif(document.readyState!%3D%3D%22complete%22)return%3BclearInterval(stateCheck)%3Btry%7Bfn()%7Dcatch(e)%7B%7D%7D%2C1)%3B%7D%3B%0AdocReady(function()%20%7B%0AjQuery(%22%23{id}%22).slick(%7B%0Adots%3A%20false%2Carrows%3A%20true%2Cinfinite%3A%20true%2Cspeed%3A%20500%2CcssEase%3A%20%22linear%22%2CslidesToShow%3A%201%2Cautoplay%3A%20true%2CautoplaySpeed%3A%203000%2Cfade%3A%20true%2CadaptiveHeight%3A%20true%2Cresponsive%3A%20%5B%7Bbreakpoint%3A%20480%2Csettings%3A%20%7Barrows%3A%20false%2CslidesToShow%3A%201%7D%7D%5D%0A%7D)%3B%0A%7D)%3B%0A%3C%2Fscript%3E" data-settings="%5B%7B%22auto%22%3Atrue%2C%22arrow%22%3Atrue%2C%22dots%22%3Afalse%2C%22fade%22%3Atrue%2C%22height%22%3A%22100%25%22%2C%22images%22%3A%5B%7B%22src%22%3A%20%22[%IMAGE_PATH%]sample.jpg%22%2C%20%22caption%22%3A%20%22%22%2C%20%22link%22%3A%20%22%22%2C%20%22width%22%3A%20%22450%22%2C%20%22position%22%3A%20%22bottom%20left%22%7D%2C%7B%22src%22%3A%20%22[%IMAGE_PATH%]sample3.jpg%22%2C%20%22caption%22%3A%20%22%22%2C%20%22link%22%3A%20%22%22%2C%20%22width%22%3A%20%22450%22%2C%20%22position%22%3A%20%22bottom%20left%22%7D%5D%7D%5D"></div>
                    </div> 

                </div>

            </div>    
                    
            <div class="is-box-6 is-box is-bg-light is-dark-text">
                        
                <div class="is-boxes">

                    <div class="is-box-centered">
                        [%CONTAINER_START%]
                            <h1>Lorem Ipsum is simply dummy text</h1>
                            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        [%CONTAINER_END%]
                    </div>

                </div>

            </div>                

        </div>

    </div>
</div>


<div data-find="is-builder" data-replace="is-builder is-content-500" data-thumb="29.png">
    <div class="is-section is-section-100 is-shadow-1">

        <div class="is-boxes">

            <div class="is-box-6 is-box is-bg-light is-dark-text">
                        
                <div class="is-boxes">

                    <div class="is-box-centered">
                        [%CONTAINER_START%]
                            <h1>Lorem Ipsum is simply dummy text</h1>
                            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        [%CONTAINER_END%]
                    </div>

                </div>

            </div>   

            <div class="is-box-6 is-box is-align-left is-bg-grey is-light-text">

                <div class="is-boxes">
                        
                    <div class="is-overlay">
                        <div class="is-overlay-content content-selectable" data-module="slider" data-module-desc="Slider" data-html="%3Cdiv%20id%3D%22{id}%22%20class%3D%22slider-on-box%22%20style%3D%22width%3A100%25%3Bheight%3A100%25%3B%22%3E%3Cdiv%20class%3D%22is-boxes%20slider-image%22%20style%3D%22background-image%3Aurl([%IMAGE_PATH%]sample.jpg)%3B%22%3E%3C%2Fdiv%3E%3Cdiv%20class%3D%22is-boxes%20slider-image%22%20style%3D%22background-image%3Aurl([%IMAGE_PATH%]sample3.jpg)%3B%22%3E%3C%2Fdiv%3E%3C%2Fdiv%3E%3Cscript%3E%0Avar%20docReady%3Dfunction(fn)%7Bvar%20stateCheck%3DsetInterval(function%20()%7Bif(document.readyState!%3D%3D%22complete%22)return%3BclearInterval(stateCheck)%3Btry%7Bfn()%7Dcatch(e)%7B%7D%7D%2C1)%3B%7D%3B%0AdocReady(function()%20%7B%0AjQuery(%22%23{id}%22).slick(%7B%0Adots%3A%20false%2Carrows%3A%20true%2Cinfinite%3A%20true%2Cspeed%3A%20500%2CcssEase%3A%20%22linear%22%2CslidesToShow%3A%201%2Cautoplay%3A%20true%2CautoplaySpeed%3A%203000%2Cfade%3A%20true%2CadaptiveHeight%3A%20true%2Cresponsive%3A%20%5B%7Bbreakpoint%3A%20480%2Csettings%3A%20%7Barrows%3A%20false%2CslidesToShow%3A%201%7D%7D%5D%0A%7D)%3B%0A%7D)%3B%0A%3C%2Fscript%3E" data-settings="%5B%7B%22auto%22%3Atrue%2C%22arrow%22%3Atrue%2C%22dots%22%3Afalse%2C%22fade%22%3Atrue%2C%22height%22%3A%22100%25%22%2C%22images%22%3A%5B%7B%22src%22%3A%20%22[%IMAGE_PATH%]sample.jpg%22%2C%20%22caption%22%3A%20%22%22%2C%20%22link%22%3A%20%22%22%2C%20%22width%22%3A%20%22450%22%2C%20%22position%22%3A%20%22bottom%20left%22%7D%2C%7B%22src%22%3A%20%22[%IMAGE_PATH%]sample3.jpg%22%2C%20%22caption%22%3A%20%22%22%2C%20%22link%22%3A%20%22%22%2C%20%22width%22%3A%20%22450%22%2C%20%22position%22%3A%20%22bottom%20left%22%7D%5D%7D%5D"></div>
                    </div> 
                    
                </div>

            </div>                 

        </div>

    </div>
</div>



<!-- VIDEO MODULE 


<div data-find="is-builder" data-replace="is-builder is-content-640 is-content-left" data-thumb="30.png">
    <div class="is-section is-section-100 is-box is-bg-grey is-light-text">

        <div class="is-overlay">
            <div class="is-overlay-content" data-module="video" data-module-desc="Video Background" data-html="%3Cdiv%20class%3D%22is_video_bg%22%3E%0A%3Cdiv%20class%3D%22screen%22%20id%3D%22{id}%22%3E%3C%2Fdiv%3E%0A%3C%2Fdiv%3E%0A%3Cscript%3E%0Avar%20docReady%3Dfunction(fn)%7Bvar%20stateCheck%3DsetInterval(function%20()%7Bif(document.readyState!%3D%3D%22complete%22)return%3BclearInterval(stateCheck)%3Btry%7Bfn()%7Dcatch(e)%7B%7D%7D%2C1)%3B%7D%3B%0AdocReady(function()%20%7B%0AjQuery(%22%23{id}%22).youtubePlayer(%7B%0Avid%3A%20%5B%7B%22videoId%22%3A%22abv_6wlLcLI%22%2C%22startSeconds%22%3A0%2C%22endSeconds%22%3A10%2C%22suggestedQuality%22%3A%22hd720%22%7D%2C%7B%22videoId%22%3A%22-TY1uUcrdFw%22%2C%22startSeconds%22%3A0%2C%22endSeconds%22%3A15%2C%22suggestedQuality%22%3A%22hd720%22%7D%2C%7B%22videoId%22%3A%22ae3QeyyqDBM%22%2C%22startSeconds%22%3A0%2C%22endSeconds%22%3A12%2C%22suggestedQuality%22%3A%22hd720%22%7D%5D%7D)%3B%0A%7D)%3B%0Afunction%20onYouTubePlayerAPIReady()%20%7BplayAllVideoBg()%3B%0A%7D%3C%2Fscript%3E" data-settings="%5B%7B%22vid%22%3A%5B%7B%22videoId%22%3A%22abv_6wlLcLI%22%2C%22startSeconds%22%3A0%2C%22endSeconds%22%3A10%2C%22suggestedQuality%22%3A%22hd720%22%7D%2C%7B%22videoId%22%3A%22-TY1uUcrdFw%22%2C%22startSeconds%22%3A0%2C%22endSeconds%22%3A15%2C%22suggestedQuality%22%3A%22hd720%22%7D%2C%7B%22videoId%22%3A%22ae3QeyyqDBM%22%2C%22startSeconds%22%3A0%2C%22endSeconds%22%3A12%2C%22suggestedQuality%22%3A%22hd720%22%7D%5D%2C%22random%22%3Afalse%7D%5D"></div>
        </div> 

        <div class="is-boxes">

            <div class="is-box-centered is-content-bottom is-opacity-85">
                [%CONTAINER_START%]

            		    <div class="display">
                		    <h1 style="margin:0.2em 0">Lorem Ipsum is simply dummy text</h1>
            		    </div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

                [%CONTAINER_END%]
            </div>

        </div>

    </div>
</div>


<div data-find="is-builder" data-replace="is-builder is-content-500" data-find2="is-builder" data-replace2="is-builder is-content-500" data-thumb="31.png">
    <div class="is-section is-section-100 is-shadow-1">

        <div class="is-boxes">

            <div class="is-box-6 is-box is-bg-grey is-light-text">

                <div class="is-boxes">
                        
                    <div class="is-overlay">
                        <div class="is-overlay-content" data-module="video" data-module-desc="Video Background" data-html="%3Cdiv%20class%3D%22is_video_bg%22%3E%0A%3Cdiv%20class%3D%22screen%22%20id%3D%22{id}%22%3E%3C%2Fdiv%3E%0A%3C%2Fdiv%3E%0A%3Cscript%3E%0Avar%20docReady%3Dfunction(fn)%7Bvar%20stateCheck%3DsetInterval(function%20()%7Bif(document.readyState!%3D%3D%22complete%22)return%3BclearInterval(stateCheck)%3Btry%7Bfn()%7Dcatch(e)%7B%7D%7D%2C1)%3B%7D%3B%0AdocReady(function()%20%7B%0AjQuery(%22%23{id}%22).youtubePlayer(%7B%0Avid%3A%20%5B%7B%22videoId%22%3A%22BCpVmJohkCQ%22%2C%22startSeconds%22%3A0%2C%22endSeconds%22%3A15%2C%22suggestedQuality%22%3A%22hd720%22%7D%2C%7B%22videoId%22%3A%22JsD1qmXqRKY%22%2C%22startSeconds%22%3A0%2C%22endSeconds%22%3A15%2C%22suggestedQuality%22%3A%22hd720%22%7D%2C%7B%22videoId%22%3A%22yHIVeLmTFcc%22%2C%22startSeconds%22%3A0%2C%22endSeconds%22%3A15%2C%22suggestedQuality%22%3A%22hd720%22%7D%5D%7D)%3B%0A%7D)%3B%0Afunction%20onYouTubePlayerAPIReady()%20%7BplayAllVideoBg()%3B%0A%7D%3C%2Fscript%3E" data-settings="%5B%7B%22vid%22%3A%5B%7B%22videoId%22%3A%22BCpVmJohkCQ%22%2C%22startSeconds%22%3A0%2C%22endSeconds%22%3A15%2C%22suggestedQuality%22%3A%22hd720%22%7D%2C%7B%22videoId%22%3A%22JsD1qmXqRKY%22%2C%22startSeconds%22%3A0%2C%22endSeconds%22%3A15%2C%22suggestedQuality%22%3A%22hd720%22%7D%2C%7B%22videoId%22%3A%22yHIVeLmTFcc%22%2C%22startSeconds%22%3A0%2C%22endSeconds%22%3A15%2C%22suggestedQuality%22%3A%22hd720%22%7D%5D%2C%22random%22%3Afalse%7D%5D"></div>
                    </div> 

                    <div class="is-box-centered is-content-bottom is-opacity-85">
                        [%CONTAINER_START%]

            		        <div class="display">
                		        <h1 style="margin:0.2em 0">Lorem Ipsum is dummy text</h1>
            		        </div>
                            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

                        [%CONTAINER_END%]
                    </div>

                </div>

            </div>    
                    
            <div class="is-box-6 is-box is-bg-light is-dark-text">
                        
                <div class="is-boxes">

                    <div class="is-box-centered">
                        [%CONTAINER_START%]
                            <h1>Lorem Ipsum is simply dummy text</h1>
                            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        [%CONTAINER_END%]
                    </div>

                </div>

            </div>                

        </div>

    </div>
</div>


<div data-find="is-builder" data-replace="is-builder is-content-500" data-find2="is-builder" data-replace2="is-builder is-content-500" data-thumb="32.png">
    <div class="is-section is-section-100 is-shadow-1">

        <div class="is-boxes">

            <div class="is-box-6 is-box is-bg-light is-dark-text">
                        
                <div class="is-boxes">

                    <div class="is-box-centered">
                        [%CONTAINER_START%]
                            <h1>Lorem Ipsum is simply dummy text</h1>
                            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        [%CONTAINER_END%]
                    </div>

                </div>

            </div>   

            <div class="is-box-6 is-box is-bg-grey is-light-text">

                <div class="is-boxes">
                        
                    <div class="is-overlay">
                        <div class="is-overlay-content" data-module="video" data-module-desc="Video Background" data-html="%3Cdiv%20class%3D%22is_video_bg%22%3E%0A%3Cdiv%20class%3D%22screen%22%20id%3D%22{id}%22%3E%3C%2Fdiv%3E%0A%3C%2Fdiv%3E%0A%3Cscript%3E%0Avar%20docReady%3Dfunction(fn)%7Bvar%20stateCheck%3DsetInterval(function%20()%7Bif(document.readyState!%3D%3D%22complete%22)return%3BclearInterval(stateCheck)%3Btry%7Bfn()%7Dcatch(e)%7B%7D%7D%2C1)%3B%7D%3B%0AdocReady(function()%20%7B%0AjQuery(%22%23{id}%22).youtubePlayer(%7B%0Avid%3A%20%5B%7B%22videoId%22%3A%22BCpVmJohkCQ%22%2C%22startSeconds%22%3A0%2C%22endSeconds%22%3A15%2C%22suggestedQuality%22%3A%22hd720%22%7D%2C%7B%22videoId%22%3A%22JsD1qmXqRKY%22%2C%22startSeconds%22%3A0%2C%22endSeconds%22%3A15%2C%22suggestedQuality%22%3A%22hd720%22%7D%2C%7B%22videoId%22%3A%22yHIVeLmTFcc%22%2C%22startSeconds%22%3A0%2C%22endSeconds%22%3A15%2C%22suggestedQuality%22%3A%22hd720%22%7D%5D%7D)%3B%0A%7D)%3B%0Afunction%20onYouTubePlayerAPIReady()%20%7BplayAllVideoBg()%3B%0A%7D%3C%2Fscript%3E" data-settings="%5B%7B%22vid%22%3A%5B%7B%22videoId%22%3A%22BCpVmJohkCQ%22%2C%22startSeconds%22%3A0%2C%22endSeconds%22%3A15%2C%22suggestedQuality%22%3A%22hd720%22%7D%2C%7B%22videoId%22%3A%22JsD1qmXqRKY%22%2C%22startSeconds%22%3A0%2C%22endSeconds%22%3A15%2C%22suggestedQuality%22%3A%22hd720%22%7D%2C%7B%22videoId%22%3A%22yHIVeLmTFcc%22%2C%22startSeconds%22%3A0%2C%22endSeconds%22%3A15%2C%22suggestedQuality%22%3A%22hd720%22%7D%5D%2C%22random%22%3Afalse%7D%5D"></div>
                    </div> 

                    <div class="is-box-centered is-content-bottom is-opacity-85">
                        [%CONTAINER_START%]

            		        <div class="display">
                		        <h1 style="margin:0.2em 0">Lorem Ipsum is dummy text</h1>
            		        </div>
                            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

                        [%CONTAINER_END%]
                    </div>

                </div>

            </div>                 

        </div>

    </div>
</div>


<div data-thumb="33.png">
    <div class="is-section is-section-100 is-box is-bg-grey is-dark-text">

        <div class="is-overlay">
            <div class="is-overlay-content" data-module="video" data-module-desc="Video Background" data-html="%3Cdiv%20class%3D%22is_video_bg%22%3E%0A%3Cdiv%20class%3D%22screen%22%20id%3D%22{id}%22%3E%3C%2Fdiv%3E%0A%3C%2Fdiv%3E%0A%3Cscript%3E%0Avar%20docReady%3Dfunction(fn)%7Bvar%20stateCheck%3DsetInterval(function%20()%7Bif(document.readyState!%3D%3D%22complete%22)return%3BclearInterval(stateCheck)%3Btry%7Bfn()%7Dcatch(e)%7B%7D%7D%2C1)%3B%7D%3B%0AdocReady(function()%20%7B%0AjQuery(%22%23{id}%22).youtubePlayer(%7B%0Avid%3A%20%5B%7B%22videoId%22%3A%22BCpVmJohkCQ%22%2C%22startSeconds%22%3A0%2C%22endSeconds%22%3A15%2C%22suggestedQuality%22%3A%22hd720%22%7D%2C%7B%22videoId%22%3A%22JsD1qmXqRKY%22%2C%22startSeconds%22%3A0%2C%22endSeconds%22%3A15%2C%22suggestedQuality%22%3A%22hd720%22%7D%2C%7B%22videoId%22%3A%22yHIVeLmTFcc%22%2C%22startSeconds%22%3A0%2C%22endSeconds%22%3A15%2C%22suggestedQuality%22%3A%22hd720%22%7D%5D%7D)%3B%0A%7D)%3B%0Afunction%20onYouTubePlayerAPIReady()%20%7BplayAllVideoBg()%3B%0A%7D%3C%2Fscript%3E" data-settings="%5B%7B%22vid%22%3A%5B%7B%22videoId%22%3A%22BCpVmJohkCQ%22%2C%22startSeconds%22%3A0%2C%22endSeconds%22%3A15%2C%22suggestedQuality%22%3A%22hd720%22%7D%2C%7B%22videoId%22%3A%22JsD1qmXqRKY%22%2C%22startSeconds%22%3A0%2C%22endSeconds%22%3A15%2C%22suggestedQuality%22%3A%22hd720%22%7D%2C%7B%22videoId%22%3A%22yHIVeLmTFcc%22%2C%22startSeconds%22%3A0%2C%22endSeconds%22%3A15%2C%22suggestedQuality%22%3A%22hd720%22%7D%5D%2C%22random%22%3Afalse%7D%5D"></div>
        </div> 

    </div>
</div>


<div data-find="is-builder" data-replace="is-builder is-content-500" data-thumb="34.png">
    <div class="is-section is-section-100 is-shadow-1">

        <div class="is-boxes">

            <div class="is-box-6 is-box is-bg-grey is-dark-text">

                <div class="is-boxes">
                        
                    <div class="is-overlay">
                        <div class="is-overlay-content" data-module="video" data-module-desc="Video Background" data-html="%3Cdiv%20class%3D%22is_video_bg%22%3E%0A%3Cdiv%20class%3D%22screen%22%20id%3D%22{id}%22%3E%3C%2Fdiv%3E%0A%3C%2Fdiv%3E%0A%3Cscript%3E%0Avar%20docReady%3Dfunction(fn)%7Bvar%20stateCheck%3DsetInterval(function%20()%7Bif(document.readyState!%3D%3D%22complete%22)return%3BclearInterval(stateCheck)%3Btry%7Bfn()%7Dcatch(e)%7B%7D%7D%2C1)%3B%7D%3B%0AdocReady(function()%20%7B%0AjQuery(%22%23{id}%22).youtubePlayer(%7B%0Avid%3A%20%5B%7B%22videoId%22%3A%22BCpVmJohkCQ%22%2C%22startSeconds%22%3A0%2C%22endSeconds%22%3A15%2C%22suggestedQuality%22%3A%22hd720%22%7D%2C%7B%22videoId%22%3A%22JsD1qmXqRKY%22%2C%22startSeconds%22%3A0%2C%22endSeconds%22%3A15%2C%22suggestedQuality%22%3A%22hd720%22%7D%2C%7B%22videoId%22%3A%22yHIVeLmTFcc%22%2C%22startSeconds%22%3A0%2C%22endSeconds%22%3A15%2C%22suggestedQuality%22%3A%22hd720%22%7D%5D%7D)%3B%0A%7D)%3B%0Afunction%20onYouTubePlayerAPIReady()%20%7BplayAllVideoBg()%3B%0A%7D%3C%2Fscript%3E" data-settings="%5B%7B%22vid%22%3A%5B%7B%22videoId%22%3A%22BCpVmJohkCQ%22%2C%22startSeconds%22%3A0%2C%22endSeconds%22%3A15%2C%22suggestedQuality%22%3A%22hd720%22%7D%2C%7B%22videoId%22%3A%22JsD1qmXqRKY%22%2C%22startSeconds%22%3A0%2C%22endSeconds%22%3A15%2C%22suggestedQuality%22%3A%22hd720%22%7D%2C%7B%22videoId%22%3A%22yHIVeLmTFcc%22%2C%22startSeconds%22%3A0%2C%22endSeconds%22%3A15%2C%22suggestedQuality%22%3A%22hd720%22%7D%5D%2C%22random%22%3Afalse%7D%5D"></div>
                    </div> 
                    
                </div>

            </div>       

            <div class="is-box-6 is-box is-bg-light is-dark-text">
                        
                <div class="is-boxes">

                    <div class="is-box-centered">
                        [%CONTAINER_START%]
                            <h1>Lorem Ipsum is simply dummy text</h1>
                            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        [%CONTAINER_END%]
                    </div>

                </div>

            </div>          

        </div>

    </div>
</div>


<div data-find="is-builder" data-replace="is-builder is-content-500" data-thumb="35.png">
    <div class="is-section is-section-100 is-shadow-1">

        <div class="is-boxes">

            <div class="is-box-6 is-box is-bg-light is-dark-text">
                        
                <div class="is-boxes">

                    <div class="is-box-centered">
                        [%CONTAINER_START%]
                            <h1>Lorem Ipsum is simply dummy text</h1>
                            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        [%CONTAINER_END%]
                    </div>

                </div>

            </div>   

            <div class="is-box-6 is-box is-bg-grey is-dark-text">

                <div class="is-boxes">                        

                    <div class="is-overlay">
                        <div class="is-overlay-content" data-module="video" data-module-desc="Video Background" data-html="%3Cdiv%20class%3D%22is_video_bg%22%3E%0A%3Cdiv%20class%3D%22screen%22%20id%3D%22{id}%22%3E%3C%2Fdiv%3E%0A%3C%2Fdiv%3E%0A%3Cscript%3E%0Avar%20docReady%3Dfunction(fn)%7Bvar%20stateCheck%3DsetInterval(function%20()%7Bif(document.readyState!%3D%3D%22complete%22)return%3BclearInterval(stateCheck)%3Btry%7Bfn()%7Dcatch(e)%7B%7D%7D%2C1)%3B%7D%3B%0AdocReady(function()%20%7B%0AjQuery(%22%23{id}%22).youtubePlayer(%7B%0Avid%3A%20%5B%7B%22videoId%22%3A%22BCpVmJohkCQ%22%2C%22startSeconds%22%3A0%2C%22endSeconds%22%3A15%2C%22suggestedQuality%22%3A%22hd720%22%7D%2C%7B%22videoId%22%3A%22JsD1qmXqRKY%22%2C%22startSeconds%22%3A0%2C%22endSeconds%22%3A15%2C%22suggestedQuality%22%3A%22hd720%22%7D%2C%7B%22videoId%22%3A%22yHIVeLmTFcc%22%2C%22startSeconds%22%3A0%2C%22endSeconds%22%3A15%2C%22suggestedQuality%22%3A%22hd720%22%7D%5D%7D)%3B%0A%7D)%3B%0Afunction%20onYouTubePlayerAPIReady()%20%7BplayAllVideoBg()%3B%0A%7D%3C%2Fscript%3E" data-settings="%5B%7B%22vid%22%3A%5B%7B%22videoId%22%3A%22BCpVmJohkCQ%22%2C%22startSeconds%22%3A0%2C%22endSeconds%22%3A15%2C%22suggestedQuality%22%3A%22hd720%22%7D%2C%7B%22videoId%22%3A%22JsD1qmXqRKY%22%2C%22startSeconds%22%3A0%2C%22endSeconds%22%3A15%2C%22suggestedQuality%22%3A%22hd720%22%7D%2C%7B%22videoId%22%3A%22yHIVeLmTFcc%22%2C%22startSeconds%22%3A0%2C%22endSeconds%22%3A15%2C%22suggestedQuality%22%3A%22hd720%22%7D%5D%2C%22random%22%3Afalse%7D%5D"></div>
                    </div> 
                    
                </div>

            </div>                 

        </div>

    </div>
</div>
-->

<!-- CUSTOM CODE MODULE -->


<div data-find="is-builder" data-replace="is-builder is-content-640 is-content-left" data-thumb="18.png">
    <div class="is-section is-section-100 is-box is-bg-grey is-light-text">

        <div class="is-overlay">
            <div class="is-overlay-content" data-module="code" data-module-desc="Custom HTML or Javascript " data-html="%3C!--%20EXAMPLE%3A%20Background%20Animation%20--%3E%0A%0A%3Cdiv%20style%3D%22overflow%3Ahidden%3Bwidth%3A100%25%3Bheight%3A100%25%3Bposition%3Aabsolute%3Bbackground%3Alinear-gradient(25deg%2C%2316054A%2C%23C8A6B4)%3B%22%3E%0A%3Ccanvas%20id%3D%22{id}%22%20style%3D%22width%3A100%25%3Bheight%3A100%25%3Bposition%3Aabsolute%3B%22%3E%3C%2Fcanvas%3E%0A%3C%2Fdiv%3E%0A%0A%3Cscript%3E%0A%0A(function()%20%7B%0A%0A%09var%20canvas%20%3D%20document.getElementById('{id}')%3B%0A%09var%20ctx%20%3D%20canvas.getContext('2d')%3B%0A%0A%09var%20ww%20%3D%20%24(window).width()%3B%0A%09var%20wh%20%3D%20%24(window).height()%3B%0A%0A%09canvas.width%20%3D%20ww%3B%0A%09canvas.height%3D%20wh%3B%0A%0A%09var%20partCount%20%3D%20100%3B%0A%09var%20particles%20%3D%20%5B%5D%3B%0A%0A%09window.addEventListener('resize'%2C%20function()%7B%0A%09%09ww%20%3D%20%24(window).width()%3B%0A%09%09wh%20%3D%20%24(window).height()%3B%0A%09%09canvas.width%20%3D%20ww%3B%0A%09%09canvas.height%3D%20wh%3B%0A%0A%09%09clearCanvas()%3B%0A%09%09particles%20%3D%20%5B%5D%3B%0A%0A%09%09init()%3B%0A%09%7D)%3B%0A%09%0A%09particle%20%3D%20function()%7B%0A%09%09this.color%20%3D%20'rgba(255%2C255%2C255%2C'%2B%20Math.random()%2B')'%3B%0A%09%09this.x%20%3D%20randomInt(0%2Cww)%3B%0A%09%09this.y%20%3D%20randomInt(0%2Cwh)%3B%0A%09%09this.direction%20%3D%20%7B%0A%09%09%09%22x%22%3A%20-1%20%2B%20Math.random()%20*%202%2C%0A%09%09%09%22y%22%3A%20-1%20%2B%20Math.random()%20*%202%0A%09%09%7D%3B%0A%09%09this.vx%20%3D%200.3%20*%20Math.random()%3B%0A%09%09this.vy%20%3D%200.3%20*%20Math.random()%3B%0A%09%09this.radius%20%3D%20randomInt(2%2C3)%3B%0A%09%09this.float%20%3D%20function()%7B%0A%09%09%09this.x%20%2B%3D%20this.vx%20*%20this.direction.x%3B%0A%09%09%09this.y%20%2B%3D%20this.vy%20*%20this.direction.y%3B%0A%09%09%7D%3B%0A%09%09this.changeDirection%20%3D%20function%20(axis)%20%7B%0A%09%09%09this.direction%5Baxis%5D%20*%3D%20-1%3B%0A%09%09%7D%3B%0A%09%0A%09%09this.boundaryCheck%20%3D%20function%20()%20%7B%0A%20%20%20%20%20%20%20%20%20%20%20%20if%20(this.x%20%3E%3D%20ww)%20%7B%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20this.x%20%3D%20ww%3B%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20this.changeDirection(%22x%22)%3B%0A%20%20%20%20%20%20%20%20%20%20%20%20%7D%20else%20if%20(this.x%20%3C%3D%200)%20%7B%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20this.x%20%3D%200%3B%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20this.changeDirection(%22x%22)%3B%0A%20%20%20%20%20%20%20%20%20%20%20%20%7D%0A%20%20%20%20%20%20%20%20%20%20%20%20if%20(this.y%20%3E%3D%20wh)%20%7B%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20this.y%20%3D%20wh%3B%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20this.changeDirection(%22y%22)%3B%0A%20%20%20%20%20%20%20%20%20%20%20%20%7D%20else%20if%20(this.y%20%3C%3D%200)%20%7B%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20this.y%20%3D%200%3B%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20this.changeDirection(%22y%22)%3B%0A%20%20%20%20%20%20%20%20%20%20%20%20%7D%0A%20%20%20%20%20%20%20%20%7D%3B%0A%09%09%0A%09%09this.draw%20%3D%20function%20()%20%7B%0A%09%09%09ctx.beginPath()%3B%0A%09%09%09ctx.fillStyle%20%3D%20this.color%3B%0A%09%09%09ctx.arc(this.x%2C%20this.y%2C%20this.radius%2C%200%2C%20Math.PI%20*%202%2C%20false)%3B%0A%09%09%09ctx.fill()%3B%0A%09%09%7D%3B%0A%09%7D%0A%0A%09function%20init%20()%20%7B%0A%09%09createParticles()%3B%0A%09%09drawParticles()%3B%0A%09%7D%0A%0A%09function%20animate()%20%7B%0A%20%20%20%20%20%20%20%20clearCanvas()%3B%0A%20%20%20%20%20%20%20%20drawParticles()%3B%0A%20%20%20%20%20%20%20%20updateParticles()%3B%0A%20%20%20%20%20%20%20%20requestAnimationFrame(animate)%3B%0A%09%7D%0A%20%20%0A%09function%20clearCanvas()%20%7B%0A%09%09ctx.clearRect(0%2C%200%2C%20ww%2C%20wh)%3B%0A%09%7D%0A%0A%09function%20createParticles()%7B%0A%09%09for%20(i%3D0%3Bi%3CpartCount%3Bi%2B%2B)%7B%0A%09%09%09var%20p%20%3D%20new%20particle()%3B%0A%09%09%09particles.push(p)%3B%0A%09%09%7D%0A%09%7D%0A%0A%09function%20drawParticles()%20%7B%0A%09%09for%20(i%3D0%3Bi%3Cparticles.length%3Bi%2B%2B)%20%7B%0A%09%09%09p%20%3D%20particles%5Bi%5D%3B%0A%09%09%09p.draw()%3B%0A%09%09%7D%0A%09%7D%0A%0A%09function%20updateParticles()%20%7B%0A%09%09for%20(var%20i%20%3D%20particles.length%20-%201%3B%20i%20%3E%3D%200%3B%20i--)%20%7B%0A%09%09%09p%20%3D%20particles%5Bi%5D%3B%0A%09%09%09p.float()%3B%0A%09%09%09p.boundaryCheck()%3B%0A%09%09%7D%0A%09%7D%0A%0A%09function%20randomInt(min%2Cmax)%20%7B%0A%09%09return%20Math.floor(Math.random()*(max-min%2B1)%2Bmin)%3B%0A%09%7D%0A%09%0A%09init()%3B%0A%09animate()%3B%0A%0A%7D).call(this)%3B%0A%0A%3C%2Fscript%3E"></div>
        </div> 

        <div class="is-boxes">

            <div class="is-box-centered is-content-bottom is-opacity-90">
                [%CONTAINER_START%]

            		    <div class="display">
                		    <h1 style="margin:0.2em 0">Lorem Ipsum is simply dummy text</h1>
            		    </div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

                [%CONTAINER_END%]
            </div>

        </div>

    </div>
</div>


<div data-find="is-builder" data-replace="is-builder is-content-500" data-find2="is-builder" data-replace2="is-builder is-content-500" data-thumb="19.png">
    <div class="is-section is-section-100 is-shadow-1">

        <div class="is-boxes">

            <div class="is-box-6 is-box is-bg-grey is-dark-text">

                <div class="is-boxes">
                        
                    <div class="is-overlay">
                        <div class="is-overlay-content" data-module="code" data-module-desc="Custom HTML or Javascript " data-html="%3C!--%20EXAMPLE%3A%20Plane%20Animation%20--%3E%0A%0A%3Cdiv%20id%3D%22{id}%22%20style%3D%22width%3A100%25%3Bheight%3A100%25%22%3E%0A%0A%3Cdiv%20class%3D%22frame%22%3E%0A%3Cdiv%20class%3D%22plane-container%22%3E%0A%3Csvg%20class%3D%22plane%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%221131.53px%22%20height%3D%22379.304px%22%20viewBox%3D%220%200%201131.53%20379.304%22%20enable-background%3D%22new%200%200%201131.53%20379.304%22%0Axml%3Aspace%3D%22preserve%22%3E%0A%3Cpolygon%20fill%3D%22%23D8D8D8%22%20points%3D%2272.008%2C0%20274.113%2C140.173%20274.113%2C301.804%20390.796%2C221.102%20601.682%2C367.302%201131.53%2C0.223%20%20%22%2F%3E%0A%3Cpolygon%20fill%3D%22%23C4C4C3%22%20points%3D%221131.53%2C0.223%20274.113%2C140.173%20274.113%2C301.804%20390.796%2C221.102%20%20%20%22%2F%3E%0A%3C%2Fsvg%3E%0A%3C%2Fdiv%3E%0A%3C%2Fdiv%3E%0A%0A%3Cstyle%20scoped%3E%0A%0A%23{id}%20.frame%20%7B%0A%09width%3A%20100%25%3B%0A%09height%3A%20auto%3B%0A%09position%3A%20absolute%3B%0A%09top%3A15%25%3B%0A%7D%0A%0A%23{id}%20svg%20%7B%0A%09max-width%3A%20100%25%3B%0A%09height%3A%20auto%3B%0A%09display%3A%20block%3B%0A%7D%0A%0A%23{id}%20.plane-container%20%7B%0A%09width%3A%20200px%3B%0A%09margin%3A%200px%20auto%3B%0A%09z-index%3A%203%3B%0A%7D%0A%0A%23{id}%20.plane%20%7B%0A%09width%3A%20100%25%3B%0A%09height%3A%2060px%3B%0A%7D%0A%0A%23{id}%20.plane-container%20%7B%0A%09-webkit-animation%3A%20paper-plane-scoping%202s%20alternate%20infinite%3B%0A%09-moz-animation%3A%20paper-plane-scoping%202s%20alternate%20infinite%3B%0A%09animation%3A%20paper-plane-scoping%202s%20alternate%20infinite%3B%0A%0A%09-webkit-animation-timing-function%3A%20linear%3B%0A%09-moz-animation-timing-function%3A%20linear%3B%0A%09animation-timing-function%3A%20linear%3B%0A%7D%0A%0A%40keyframes%20paper-plane-scoping%20%7B%0A%090%25%20%7B%0A%09%09-webkit-transform%3A%20translateY(0px)%3B%0A%09%09-moz-transform%3A%20translateY(0px)%3B%0A%09%09transform%3A%20translateY(0px)%3B%0A%09%7D%0A%09100%25%20%7B%0A%09%09-webkit-transform%3A%20translateY(100px)%3B%0A%09%09-moz-transform%3A%20translateY(100px)%3B%0A%09%09transform%3A%20translateY(100px)%3B%0A%09%7D%0A%7D%0A%0A%23{id}%20.plane%20%7B%0A%09-webkit-animation-timing-function%3A%20ease-in-out%3B%0A%09-moz-animation-timing-function%3A%20ease-in-out%3B%0A%09animation-timing-function%3A%20ease-in-out%3B%0A%0A%09-webkit-animation%3A%20paper-plane-soaring%204s%20forwards%20infinite%3B%0A%09-moz-animation%3A%20paper-plane-soaring%204s%20forwards%20infinite%3B%0A%09animation%3A%20paper-plane-soaring%204s%20forwards%20infinite%3B%0A%7D%0A%0A%40keyframes%20paper-plane-soaring%20%7B%0A%090%25%20%7B%0A%09%09-webkit-transform%3A%20rotate(0deg)%3B%0A%09%09-moz-transform%3A%20rotate(0deg)%3B%0A%09%09transform%3A%20rotate(0deg)%3B%0A%09%7D%0A%0940%25%20%7B%0A%09%09-webkit-transform%3A%20rotate(15deg)%3B%0A%09%09-moz-transform%3A%20rotate(15deg)%3B%0A%09%09transform%3A%20rotate(15deg)%3B%0A%09%7D%0A%0950%25%20%7B%0A%09%09-webkit-transform%3A%20rotate(15deg)%3B%0A%09%09-moz-transform%3A%20rotate(15deg)%3B%0A%09%09transform%3A%20rotate(15deg)%3B%0A%09%7D%0A%0960%25%20%7B%0A%09%09-webkit-transform%3A%20rotate(-10deg)%3B%0A%09%09-moz-transform%3A%20rotate(-10deg)%3B%0A%09%09transform%3A%20rotate(-10deg)%3B%0A%09%7D%0A%0970%25%20%7B%0A%09%09-webkit-transform%3A%20rotate(-10deg)%3B%0A%09%09-moz-transform%3A%20rotate(-10deg)%3B%0A%09%09transform%3A%20rotate(-10deg)%3B%0A%09%7D%0A%09100%25%20%7B%0A%09%09-webkit-transform%3A%20rotate(0deg)%3B%0A%09%09-moz-transform%3A%20rotate(0deg)%3B%0A%09%09transform%3A%20rotate(0deg)%3B%0A%09%7D%0A%7D%0A%0A%3C%2Fstyle%3E%0A%0A%3C%2Fdiv%3E"></div>
                    </div> 

                    <div class="is-box-centered is-content-bottom">
                        [%CONTAINER_START%]

            		        <div class="display">
                		        <h1 style="margin:0.2em 0">Lorem Ipsum is dummy text</h1>
            		        </div>
                            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

                        [%CONTAINER_END%]
                    </div>

                </div>

            </div>    
                    
            <div class="is-box-6 is-box is-bg-light is-dark-text">
                        
                <div class="is-boxes">

                    <div class="is-box-centered">
                        [%CONTAINER_START%]
                            <h1>Lorem Ipsum is simply dummy text</h1>
                            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        [%CONTAINER_END%]
                    </div>

                </div>

            </div>                

        </div>

    </div>
</div>


<div data-find="is-builder" data-replace="is-builder is-content-500" data-find2="is-builder" data-replace2="is-builder is-content-500" data-thumb="20.png">
    <div class="is-section is-section-100 is-shadow-1">

        <div class="is-boxes">

            <div class="is-box-6 is-box is-bg-light is-dark-text">
                        
                <div class="is-boxes">

                    <div class="is-box-centered">
                        [%CONTAINER_START%]
                            <h1>Lorem Ipsum is simply dummy text</h1>
                            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        [%CONTAINER_END%]
                    </div>

                </div>

            </div>   

            <div class="is-box-6 is-box is-bg-grey is-dark-text">

                <div class="is-boxes">
                        
                    <div class="is-overlay">
                        <div class="is-overlay-content" data-module="code" data-module-desc="Custom HTML or Javascript " data-html="%3C!--%20EXAMPLE%3A%20Background%20Animation%20--%3E%0A%0A%3Cdiv%20id%3D%22{id}%22%20style%3D%22width%3A100%25%3Bheight%3A100%25%22%3E%0A%0A%3Cdiv%20class%3D%22frame%22%3E%0A%09%3Cdiv%20class%3D%22block_top%22%3E%3C%2Fdiv%3E%0A%09%3Cdiv%20class%3D%22block_bottom%22%3E%3C%2Fdiv%3E%0A%3C%2Fdiv%3E%0A%0A%3Cstyle%20scoped%3E%0A%0A%23{id}%20.frame%7B%0A%09background%3A%20%23ecf6f8%3B%0A%09position%3A%20relative%3B%0A%09width%3A%20100%25%3B%0A%09height%3A%20100%25%3B%0A%09overflow%3A%20hidden%3B%0A%7D%0A%0A%23{id}%20.block_top%20%7B%0A%09position%3A%20absolute%3B%0A%09top%3A%200%3B%0A%09left%3A%200%3B%0A%09margin-left%3A%20-100px%3B%0A%09margin-top%3A%20-150px%3B%0A%0A%09background%3A%20%23f2dde6%3B%0A%09width%3A%20120%25%3B%0A%09height%3A%20250px%3B%0A%0A%09transform%3A%20rotate(7deg)%3B%0A%09-webkit-transform%3A%20rotate(7deg)%3B%0A%09-ms-transform%3A%20rotate(7deg)%3B%0A%0A%09-webkit-animation%3A%20block_t%2020s%20infinite%20cubic-bezier(.14%2C.36%2C.59%2C.9)%3B%0A%09-ms-animation%3A%20block_t%2020s%20infinite%20cubic-bezier(.14%2C.36%2C.59%2C.9)%3B%0A%09animation%3A%20block_t%2020s%20infinite%20cubic-bezier(.14%2C.36%2C.59%2C.9)%3B%0A%7D%0A%0A%40keyframes%20block_t%20%7B%0A%090%25%20%20%20%7B%09%0A%09%09-webkit-transform%3A%20rotate(7deg)%20rotateZ(0deg)%20translate3d(2%25%2C5%25%2C0)%20rotateZ(0deg)%3B%0A%09%09-ms-transform%3A%20rotate(7deg)%20rotateZ(0deg)%20translate3d(2%25%2C5%25%2C0)%20rotateZ(0deg)%3B%0A%09%09transform%3A%20rotate(7deg)%20rotateZ(0deg)%20translate3d(2%25%2C5%25%2C0)%20rotateZ(0deg)%3B%0A%09%7D%0A%0A%0925%25%20%7B%0A%09%09-webkit-transform%3A%20rotate(3deg)%20rotateZ(90deg)%20translate3d(2%25%2C5%25%2C0)%20rotateZ(-90deg)%3B%0A%09%09-ms-transform%3A%20rotate(3deg)%20rotateZ(90deg)%20translate3d(2%25%2C5%25%2C0)%20rotateZ(-90deg)%3B%0A%09%09transform%3A%20rotate(3deg)%20rotateZ(90deg)%20translate3d(2%25%2C5%25%2C0)%20rotateZ(-90deg)%3B%0A%09%7D%0A%0A%0950%25%20%7B%09%0A%09%09-webkit-transform%3A%20rotate(6deg)%20rotateZ(180deg)%20translate3d(2%25%2C5%25%2C0)%20rotateZ(-180deg)%3B%0A%09%09-ms-transform%3A%20rotate(6deg)%20rotateZ(180deg)%20translate3d(2%25%2C5%25%2C0)%20rotateZ(-180deg)%3B%0A%09%09transform%3A%20rotate(6deg)%20rotateZ(180deg)%20translate3d(2%25%2C5%25%2C0)%20rotateZ(-180deg)%3B%0A%09%7D%0A%0A%0975%25%20%7B%09%0A%09%09-webkit-transform%3A%20rotate(9deg)%20rotateZ(270deg)%20translate3d(2%25%2C5%25%2C0)%20rotateZ(-270deg)%3B%0A%09%09-ms-transform%3A%20rotate(9deg)%20rotateZ(270deg)%20translate3d(2%25%2C5%25%2C0)%20rotateZ(-270deg)%3B%0A%09%09transform%3A%20rotate(9deg)%20rotateZ(270deg)%20translate3d(2%25%2C5%25%2C0)%20rotateZ(-270deg)%3B%0A%09%7D%0A%0A%09100%25%20%7B%09%0A%09%09-webkit-transform%3A%20rotate(7deg)%20rotateZ(360deg)%20translate3d(2%25%2C5%25%2C0)%20rotateZ(-360deg)%3B%0A%09%09-ms-transform%3A%20rotate(7deg)%20rotateZ(360deg)%20translate3d(2%25%2C5%25%2C0)%20rotateZ(-360deg)%3B%0A%09%09transform%3A%20rotate(7deg)%20rotateZ(360deg)%20translate3d(2%25%2C5%25%2C0)%20rotateZ(-360deg)%3B%0A%09%7D%0A%7D%0A%0A%23{id}%20.block_bottom%20%7B%0A%09position%3A%20absolute%3B%0A%09bottom%3A%200%3B%0A%09left%3A%200%3B%0A%09margin-left%3A%20-100px%3B%0A%09margin-bottom%3A%20-200px%3B%0A%0A%09background%3A%20%23e5f4d3%3B%0A%09width%3A%20120%25%3B%0A%09height%3A%20300px%3B%0A%0A%09-webkit-animation%3A%20block_b%2020s%20infinite%20cubic-bezier(.14%2C.36%2C.59%2C.9)%3B%0A%09-ms-animation%3A%20block_b%2020s%20infinite%20cubic-bezier(.14%2C.36%2C.59%2C.9)%3B%0A%09animation%3A%20block_b%2020s%20infinite%20cubic-bezier(.14%2C.36%2C.59%2C.9)%3B%0A%7D%0A%0A%40keyframes%20block_b%20%7B%0A%090%25%20%7B%09%0A%09%09-webkit-transform%3A%20rotate(5deg)%20rotateZ(0deg)%20translate3d(2%25%2C5%25%2C0)%20rotateZ(0deg)%3B%0A%09%09-ms-transform%3A%20rotate(5deg)%20rotateZ(0deg)%20translate3d(2%25%2C5%25%2C0)%20rotateZ(0deg)%3B%0A%09%09transform%3A%20rotate(5deg)%20rotateZ(0deg)%20translate3d(2%25%2C5%25%2C0)%20rotateZ(0deg)%3B%0A%09%7D%0A%0A%0925%25%20%7B%0A%09%09-webkit-transform%3A%20rotate(8deg)%20rotateZ(90deg)%20translate3d(2%25%2C5%25%2C0)%20rotateZ(-90deg)%3B%0A%09%09-ms-transform%3A%20rotate(8deg)%20rotateZ(90deg)%20translate3d(2%25%2C5%25%2C0)%20rotateZ(-90deg)%3B%0A%09%09transform%3A%20rotate(8deg)%20rotateZ(90deg)%20translate3d(2%25%2C5%25%2C0)%20rotateZ(-90deg)%3B%0A%09%7D%0A%0A%0950%25%20%7B%09%0A%09%09-webkit-transform%3A%20rotate(4deg)%20rotateZ(180deg)%20translate3d(2%25%2C5%25%2C0)%20rotateZ(-180deg)%3B%0A%09%09-ms-transform%3A%20rotate(4deg)%20rotateZ(180deg)%20translate3d(2%25%2C5%25%2C0)%20rotateZ(-180deg)%3B%0A%09%09transform%3A%20rotate(4deg)%20rotateZ(180deg)%20translate3d(2%25%2C5%25%2C0)%20rotateZ(-180deg)%3B%0A%09%7D%0A%0A%0975%25%20%7B%09%0A%09%09-webkit-transform%3A%20rotate(2deg)%20rotateZ(270deg)%20translate3d(2%25%2C5%25%2C0)%20rotateZ(-270deg)%3B%0A%09%09-ms-transform%3A%20rotate(2deg)%20rotateZ(270deg)%20translate3d(2%25%2C5%25%2C0)%20rotateZ(-270deg)%3B%0A%09%09transform%3A%20rotate(2deg)%20rotateZ(270deg)%20translate3d(2%25%2C5%25%2C0)%20rotateZ(-270deg)%3B%0A%09%09%20%7D%0A%0A%09100%25%20%7B%09%0A%09%09-webkit-transform%3A%20rotate(5deg)%20rotateZ(360deg)%20translate3d(2%25%2C5%25%2C0)%20rotateZ(-360deg)%3B%0A%09%09-ms-transform%3A%20rotate(5deg)%20rotateZ(360deg)%20translate3d(2%25%2C5%25%2C0)%20rotateZ(-360deg)%3B%0A%09%09transform%3A%20rotate(5deg)%20rotateZ(360deg)%20translate3d(2%25%2C5%25%2C0)%20rotateZ(-360deg)%3B%0A%09%7D%0A%7D%0A%0A%3C%2Fstyle%3E%0A%0A%3C%2Fdiv%3E"></div>
                    </div> 

                    <div class="is-box-centered is-content-bottom">
                        [%CONTAINER_START%]

            		        <div class="display">
                		        <h1 style="margin:0.2em 0">Lorem Ipsum is dummy text</h1>
            		        </div>
                            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

                        [%CONTAINER_END%]
                    </div>

                </div>

            </div>                 

        </div>

    </div>
</div>


<div data-thumb="21.png">
    <div class="is-section is-section-100 is-box is-bg-grey is-dark-text">

        <div class="is-overlay">
            <div class="is-overlay-content" data-module="code" data-module-desc="Custom HTML or Javascript " data-html="%3C!--%20EXAMPLE%3A%20Typed%20Animation%20--%3E%0A%0A%3Cdiv%20style%3D%22display%3Atable%3Bwidth%3A100%25%3Bheight%3A100%25%3Bbackground%3Alinear-gradient(25deg%2C%232fa6d4%2C%23dcf395)%22%3E%0A%3Cdiv%20class%3D%22display%22%20style%3D%22display%3A%20table-cell%3Bvertical-align%3A%20middle%3Btext-align%3A%20center%3Bpadding%3A%200%2020px%22%3E%0A%0A%3Ch1%20style%3D%22color%3Argba(255%2C255%2C255%2C0.8)%22%3EWe%20design%20cool%20%3Cspan%20id%3D%22{id}%22%20style%3D%22color%3Argba(255%2C255%2C255%2C0.8)%22%3E%3C%2Fspan%3E%3C%2Fh1%3E%0A%0A%3C%2Fdiv%3E%0A%3C%2Fdiv%3E%0A%0A%3Cscript%3E%0AloadScript(%22https%3A%2F%2Fcdnjs.cloudflare.com%2Fajax%2Flibs%2Ftyped.js%2F1.1.1%2Ftyped.min.js%22%2C%0A%20%20%20%20function()%7B%0A%20%20%20%20%20%20%24(%22%23{id}%22).typed(%7B%0A%20%20%20%20%20%20%20%20strings%3A%20%5B%22website.%22%2C%20%22android%20app.%22%2C%20%22iphone%20app.%22%2C%20%22pc%20software.%22%2C%20%22online%20shop.%22%5D%2C%0A%20%20%20%20%20%20%20%20typeSpeed%3A%201%2C%0A%20%20%20%20%20%20%20%20loop%3A%20true%2C%0A%20%20%20%20%20%20%20%20backDelay%3A%201000%0A%20%20%20%20%20%20%7D)%3B%0A%20%20%7D)%3B%0A%0Afunction%20loadScript(url%2C%20callback)%20%7B%0A%0A%20%20%20%20var%20script%20%3D%20document.createElement(%22script%22)%0A%20%20%20%20script.type%20%3D%20%22text%2Fjavascript%22%3B%0A%0A%20%20%20%20if%20(script.readyState)%20%7B%20%20%2F%2FIE%0A%20%20%20%20%20%20%20%20script.onreadystatechange%20%3D%20function%20()%20%7B%0A%20%20%20%20%20%20%20%20%20%20%20%20if%20(script.readyState%20%3D%3D%20%22loaded%22%20%7C%7C%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20script.readyState%20%3D%3D%20%22complete%22)%20%7B%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20script.onreadystatechange%20%3D%20null%3B%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20callback()%3B%0A%20%20%20%20%20%20%20%20%20%20%20%20%7D%0A%20%20%20%20%20%20%20%20%7D%3B%0A%20%20%20%20%7D%20else%20%7B%20%20%2F%2FOthers%0A%20%20%20%20%20%20%20%20script.onload%20%3D%20function%20()%20%7B%0A%20%20%20%20%20%20%20%20%20%20%20%20callback()%3B%0A%20%20%20%20%20%20%20%20%7D%3B%0A%20%20%20%20%7D%0A%0A%20%20%20%20script.src%20%3D%20url%3B%0A%20%20%20%20document.body.appendChild(script)%3B%0A%7D%0A%3C%2Fscript%3E%0A%0A%3Cstyle%20scoped%3E%0A.typed-cursor%7B%0A%20%20%20%20color%3Argba(255%2C255%2C255%2C0.8)%20!important%3B%0A%20%20%20%20opacity%3A%201%3B%0A%20%20%20%20-webkit-animation%3A%20blink%200.7s%20infinite%3B%0A%20%20%20%20-moz-animation%3A%20blink%200.7s%20infinite%3B%0A%20%20%20%20animation%3A%20blink%200.7s%20infinite%3B%0A%7D%0A%40keyframes%20blink%7B%0A%20%20%20%200%25%20%7B%20opacity%3A1%3B%20%7D%0A%20%20%20%2050%25%20%7B%20opacity%3A0%3B%20%7D%0A%20%20%20%20100%25%20%7B%20opacity%3A1%3B%20%7D%0A%7D%0A%40-webkit-keyframes%20blink%7B%0A%20%20%20%200%25%20%7B%20opacity%3A1%3B%20%7D%0A%20%20%20%2050%25%20%7B%20opacity%3A0%3B%20%7D%0A%20%20%20%20100%25%20%7B%20opacity%3A1%3B%20%7D%0A%7D%0A%40-moz-keyframes%20blink%7B%0A%20%20%20%200%25%20%7B%20opacity%3A1%3B%20%7D%0A%20%20%20%2050%25%20%7B%20opacity%3A0%3B%20%7D%0A%20%20%20%20100%25%20%7B%20opacity%3A1%3B%20%7D%0A%7D%0A%3C%2Fstyle%3E%0A%0A"></div>
        </div> 

    </div>
</div>


<div data-find="is-builder" data-replace="is-builder is-content-500" data-thumb="22.png">
    <div class="is-section is-section-100 is-shadow-1">

        <div class="is-boxes">

            <div class="is-box-6 is-box is-bg-grey is-dark-text">

                <div class="is-boxes">
                        
                    <div class="is-overlay">
                        <div class="is-overlay-content" data-module="code" data-module-desc="Custom HTML or Javascript " data-html="%3C!--%20EXAMPLE%3A%20Circle%20Animation%20--%3E%0A%0A%3Ccanvas%20id%3D%22{id}%22%3E%3C%2Fcanvas%3E%0A%0A%3Cscript%3E%0A%0A(function()%20%7B%0A%0A%09var%20canvas%20%3D%20document.getElementById('{id}')%3B%0A%0A%09canvas.width%20%3D%20window.innerWidth%3B%0A%09canvas.height%20%3D%20window.innerHeight%3B%0A%09var%20context%20%3D%20canvas.getContext('2d')%3B%0A%0A%09var%20maxRadius%20%3D%2040%3B%0A%09var%20minRadius%20%3D%205%3B%0A%0A%09var%20colorArray%20%3D%20%5B%0A%09%09'%23004777'%2C%0A%09%09'%23A30000'%2C%0A%09%09'%23FF7700'%2C%0A%09%09'%23EFD28D'%2C%0A%09%09'%2300AFB5'%0A%09%5D%3B%0A%0A%09window.addEventListener('resize'%2C%20function()%7B%0A%09%09canvas.width%20%3D%20window.innerWidth%3B%0A%09%09canvas.height%20%3D%20window.innerHeight%3B%0A%0A%09%09init()%3B%0A%09%7D)%3B%0A%09%0A%09Circle%20%3D%20function(x%2C%20y%2C%20dx%2C%20dy%2C%20radius)%20%7B%0A%09%09this.x%20%3D%20x%3B%0A%09%09this.dx%20%3D%20dx%3B%0A%09%09this.y%20%3D%20y%3B%0A%09%09this.dy%20%3D%20dy%3B%0A%09%09this.radius%20%3D%20radius%3B%0A%09%09this.minRadius%20%3D%20radius%3B%0A%09%09this.color%20%3D%20colorArray%5BMath.floor(Math.random()%20*%20colorArray.length)%5D%3B%0A%0A%09%09this.draw%20%3D%20function()%7B%0A%09%09%09context.beginPath()%3B%0A%09%09%09context.arc(this.x%2C%20this.y%2C%20this.radius%2C%200%2C%20Math.PI%20*%202%2C%20false)%3B%0A%09%09%09context.fillStyle%20%3D%20this.color%3B%0A%09%09%09context.fill()%3B%0A%09%09%7D%0A%0A%09%09this.update%20%3D%20function()%7B%0A%09%09%09if(this.x%20%2B%20this.radius%20%3E%20innerWidth%20%7C%7C%20this.x%20-%20this.radius%20%3C%200)%20%7B%0A%09%09%09%09this.dx%20%3D%20-this.dx%3B%0A%09%09%09%7D%0A%09%09%09if(this.y%20%2B%20this.radius%20%3E%20innerHeight%20%7C%7C%20this.y%20-%20this.radius%20%3C%200)%20%7B%0A%09%09%09%09this.dy%20%3D%20-this.dy%3B%0A%09%09%09%7D%0A%09%09%09this.x%20%2B%3D%20this.dx%3B%0A%09%09%09this.y%20%2B%3D%20this.dy%3B%0A%0A%09%09%09this.draw()%3B%0A%09%09%7D%0A%09%7D%3B%0A%0A%09var%20circleArray%20%3D%20%5B%5D%3B%0A%0A%09function%20init%20()%20%7B%0A%09%09circleArray%20%3D%20%5B%5D%3B%0A%0A%09%09for%20(var%20i%20%3D%200%3B%20i%20%3C%20300%3B%20i%2B%2B)%20%7B%0A%09%09%09var%20radius%20%3D%20Math.random()%20*%203%20%2B%201%3B%0A%09%09%09var%20x%20%3D%20Math.random()%20*%20(innerWidth%20-%20radius%20*%202)%20%2B%20radius%3B%0A%09%09%09var%20y%20%3D%20Math.random()%20*%20(innerHeight%20-%20radius%20*%202)%20%2B%20radius%3B%0A%0A%09%09%09var%20dx%20%3D%20(Math.random()%20-%200.5)%20*%202%3B%0A%09%09%09var%20dy%20%3D%20(Math.random()%20-%200.5)%20*%202%3B%20%0A%09%09%09%0A%09%09%09circleArray.push(new%20Circle(x%2C%20y%2C%20dx%2C%20dy%2C%20radius))%3B%0A%09%09%7D%0A%09%7D%0A%0A%09function%20animate()%20%7B%0A%09%09requestAnimationFrame(animate)%3B%0A%09%09context.clearRect(0%2C%200%2C%20innerWidth%2C%20innerHeight)%3B%0A%0A%09%09for%20(var%20i%20%3D%200%3B%20i%20%3C%20circleArray.length%3B%20i%2B%2B)%20%7B%0A%09%09%09circleArray%5Bi%5D.update()%3B%0A%09%09%7D%0A%09%7D%0A%09%0A%09init()%3B%0A%09animate()%3B%0A%0A%7D).call(this)%3B%0A%0A%0A%3C%2Fscript%3E"></div>
                    </div> 
                    
                </div>

            </div>       

            <div class="is-box-6 is-box is-bg-light is-dark-text">
                        
                <div class="is-boxes">

                    <div class="is-box-centered">
                        [%CONTAINER_START%]
                            <h1>Lorem Ipsum is simply dummy text</h1>
                            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        [%CONTAINER_END%]
                    </div>

                </div>

            </div>          

        </div>

    </div>
</div>


<div data-find="is-builder" data-replace="is-builder is-content-500" data-thumb="23.png">
    <div class="is-section is-section-100 is-shadow-1">

        <div class="is-boxes">

            <div class="is-box-6 is-box is-bg-light is-dark-text">
                        
                <div class="is-boxes">

                    <div class="is-box-centered">
                        [%CONTAINER_START%]
                            <h1>Lorem Ipsum is simply dummy text</h1>
                            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        [%CONTAINER_END%]
                    </div>

                </div>

            </div>   

            <div class="is-box-6 is-box is-bg-grey is-dark-text">

                <div class="is-boxes">                        

                    <div class="is-overlay">
                        <div class="is-overlay-content" data-module="code" data-module-desc="Custom HTML or Javascript " data-html="%3C!--%20EXAMPLE%3A%20Plane%20Animation%20--%3E%0A%0A%3Cdiv%20id%3D%22{id}%22%20style%3D%22width%3A100%25%3Bheight%3A100%25%22%3E%0A%0A%3Cdiv%20class%3D%22frame%22%3E%0A%3Cdiv%20class%3D%22plane-container%22%3E%0A%3Csvg%20class%3D%22plane%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%221131.53px%22%20height%3D%22379.304px%22%20viewBox%3D%220%200%201131.53%20379.304%22%20enable-background%3D%22new%200%200%201131.53%20379.304%22%0Axml%3Aspace%3D%22preserve%22%3E%0A%3Cpolygon%20fill%3D%22%23D8D8D8%22%20points%3D%2272.008%2C0%20274.113%2C140.173%20274.113%2C301.804%20390.796%2C221.102%20601.682%2C367.302%201131.53%2C0.223%20%20%22%2F%3E%0A%3Cpolygon%20fill%3D%22%23C4C4C3%22%20points%3D%221131.53%2C0.223%20274.113%2C140.173%20274.113%2C301.804%20390.796%2C221.102%20%20%20%22%2F%3E%0A%3C%2Fsvg%3E%0A%3C%2Fdiv%3E%0A%3C%2Fdiv%3E%0A%0A%3Cstyle%20scoped%3E%0A%0A%23{id}%20.frame%20%7B%0A%09width%3A%20100%25%3B%0A%09height%3A%20auto%3B%0A%09position%3A%20absolute%3B%0A%09top%3Acalc((100%25%20-%20200px)%2F2)%3B%0A%7D%0A%0A%23{id}%20svg%20%7B%0A%09max-width%3A%20100%25%3B%0A%09height%3A%20auto%3B%0A%09display%3A%20block%3B%0A%7D%0A%0A%23{id}%20.plane-container%20%7B%0A%09width%3A%20200px%3B%0A%09margin%3A%200px%20auto%3B%0A%09z-index%3A%203%3B%0A%7D%0A%0A%23{id}%20.plane%20%7B%0A%09width%3A%20100%25%3B%0A%09height%3A%2060px%3B%0A%7D%0A%0A%23{id}%20.plane-container%20%7B%0A%09-webkit-animation%3A%20paper-plane-scoping%202s%20alternate%20infinite%3B%0A%09-moz-animation%3A%20paper-plane-scoping%202s%20alternate%20infinite%3B%0A%09animation%3A%20paper-plane-scoping%202s%20alternate%20infinite%3B%0A%0A%09-webkit-animation-timing-function%3A%20linear%3B%0A%09-moz-animation-timing-function%3A%20linear%3B%0A%09animation-timing-function%3A%20linear%3B%0A%7D%0A%0A%40keyframes%20paper-plane-scoping%20%7B%0A%090%25%20%7B%0A%09%09-webkit-transform%3A%20translateY(0px)%3B%0A%09%09-moz-transform%3A%20translateY(0px)%3B%0A%09%09transform%3A%20translateY(0px)%3B%0A%09%7D%0A%09100%25%20%7B%0A%09%09-webkit-transform%3A%20translateY(100px)%3B%0A%09%09-moz-transform%3A%20translateY(100px)%3B%0A%09%09transform%3A%20translateY(100px)%3B%0A%09%7D%0A%7D%0A%0A%23{id}%20.plane%20%7B%0A%09-webkit-animation-timing-function%3A%20ease-in-out%3B%0A%09-moz-animation-timing-function%3A%20ease-in-out%3B%0A%09animation-timing-function%3A%20ease-in-out%3B%0A%0A%09-webkit-animation%3A%20paper-plane-soaring%204s%20forwards%20infinite%3B%0A%09-moz-animation%3A%20paper-plane-soaring%204s%20forwards%20infinite%3B%0A%09animation%3A%20paper-plane-soaring%204s%20forwards%20infinite%3B%0A%7D%0A%0A%40keyframes%20paper-plane-soaring%20%7B%0A%090%25%20%7B%0A%09%09-webkit-transform%3A%20rotate(0deg)%3B%0A%09%09-moz-transform%3A%20rotate(0deg)%3B%0A%09%09transform%3A%20rotate(0deg)%3B%0A%09%7D%0A%0940%25%20%7B%0A%09%09-webkit-transform%3A%20rotate(15deg)%3B%0A%09%09-moz-transform%3A%20rotate(15deg)%3B%0A%09%09transform%3A%20rotate(15deg)%3B%0A%09%7D%0A%0950%25%20%7B%0A%09%09-webkit-transform%3A%20rotate(15deg)%3B%0A%09%09-moz-transform%3A%20rotate(15deg)%3B%0A%09%09transform%3A%20rotate(15deg)%3B%0A%09%7D%0A%0960%25%20%7B%0A%09%09-webkit-transform%3A%20rotate(-10deg)%3B%0A%09%09-moz-transform%3A%20rotate(-10deg)%3B%0A%09%09transform%3A%20rotate(-10deg)%3B%0A%09%7D%0A%0970%25%20%7B%0A%09%09-webkit-transform%3A%20rotate(-10deg)%3B%0A%09%09-moz-transform%3A%20rotate(-10deg)%3B%0A%09%09transform%3A%20rotate(-10deg)%3B%0A%09%7D%0A%09100%25%20%7B%0A%09%09-webkit-transform%3A%20rotate(0deg)%3B%0A%09%09-moz-transform%3A%20rotate(0deg)%3B%0A%09%09transform%3A%20rotate(0deg)%3B%0A%09%7D%0A%7D%0A%0A%3C%2Fstyle%3E%0A%0A%3C%2Fdiv%3E"></div>
                    </div> 
                    
                </div>

            </div>                 

        </div>

    </div>
</div>

