<link rel="apple-touch-icon" sizes="180x180" href="/cms/assets/img/favicon/apple-touch-icon.png?ver=1536737709">
<link rel="icon" type="image/png" sizes="32x32" href="/cms/assets/img/favicon/favicon-32x32.png?ver=1536737709">
<link rel="icon" type="image/png" sizes="230x230" href="/cms/assets/img/favicon/favicon-230x230.png?ver=1536737709">
<link rel="icon" type="image/png" sizes="192x192" href="/cms/assets/img/favicon/android-chrome-192x192.png?ver=1536737709">
<link rel="icon" type="image/png" sizes="228x228" href="/cms/assets/img/favicon/coast-228x228.png?ver=1536737709">
<link rel="icon" type="image/png" sizes="16x16" href="/cms/assets/img/favicon/favicon-16x16.png?ver=1536737709">
<link rel="manifest" href="/cms/assets/img/favicon/site.webmanifest?ver=1536737709">
<link rel="mask-icon" href="/cms/assets/img/favicon/safari-pinned-tab.svg?ver=1536737709" color="#fff">
<link rel="shortcut icon" href="/cms/assets/img/favicon/favicon.ico?ver=1536737709">
<link rel="yandex-tableau-widget" href="/cms/assets/img/favicon/yandex-browser-manifest.json?ver=1536737709">
<meta name="msapplication-TileColor" content="#000">
<meta name="msapplication-TileImage" content="/cms/assets/img/favicon/mstile-144x144.png?ver=1536737709">
<meta name="msapplication-config" content="/cms/assets/img/favicon/browserconfig.xml?ver=1536737709">
<meta name="theme-color" content="#000">