body { padding:0; }
.header-position { z-index:999999; }
.h1-nav .navbar-nav .nav-item .nav-link { color:#fff; }

.navbar-brand img { max-height: 100%; max-width: 100%;}

.smart-cover { position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; }