.site-logo li .logo {
    position: absolute;
    top: 20px;
    left: 18px;
}

.site-logo li .logo img {
    max-height: 41px;
}

.login-logo {
	max-width: 80%;
}

body .header-wrapper .header-top, body .bottomBar {
    background: <?= $cmsSettings['Color Main'] ?>;
    background: -moz-linear-gradient(-45deg,<?= $cmsSettings['Color Main'] ?> 21%,<?= $cmsSettings['Color Second'] ?> 100%,<?= $cmsSettings['Color Second'] ?> 100%);
    background: -webkit-linear-gradient(-45deg,<?= $cmsSettings['Color Main'] ?> 21%,<?= $cmsSettings['Color Second'] ?> 100%,<?= $cmsSettings['Color Second'] ?> 100%);
    background: linear-gradient(135deg,<?= $cmsSettings['Color Main'] ?> 21%,<?= $cmsSettings['Color Second'] ?> 100%,<?= $cmsSettings['Color Second'] ?> 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='<?= $cmsSettings['Color Main'] ?>', endColorstr='<?= $cmsSettings['Color Second'] ?>', GradientType=1 );
}

.btn-info, a:link.btn-info {
    background-color: <?= $cmsSettings['Color Main'] ?>;
    border: 1px solid <?= $cmsSettings['Color Main'] ?>;
}

.btn-danger, a:link.btn-danger {
    background-color: <?= $cmsSettings['Color Second'] ?>;
    border: 1px solid <?= $cmsSettings['Color Second'] ?>;
}

.btn-primary.disabled, .btn-primary:disabled {
    background-color: <?= $cmsSettings['Color Second'] ?>;
    border-color: <?= $cmsSettings['Color Second'] ?>;
}